{% load static %}
{% load i18n %}
{% load active_link_tags %}
{% load mails_tags %}

<nav class="navbar navbar-dark">
    <div class="container">

        <a class="navbar-brand" href="{% url 'mails:index' %}">
            <img src="{% static 'assets/pictures/logo/logo.webp' %}" alt="logo" height="36" width="168"
                 class="d-inline-block align-text-top">
        </a>

        <div class="d-none d-md-block">
            <form class="d-flex" method="get" action="{% url 'mails:get-or-create-email' %}">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           placeholder="{% translate 'Enter Email Address' %}"
                           aria-label="{% translate 'Enter Email Address' %}"
                           aria-describedby="button-addon2">
                    <button class="btn btn-outline-success" type="submit" id="button-addon2">
                        {% translate "Go" %}
                    </button>
                </div>
            </form>
        </div>

        <select class="selectpicker" data-width="fit" onchange="location = this.value;">
            {% for lang_code, land_display in LANGUAGES %}
                <option {% if lang_code in LANGUAGE_CODE %}selected="selected"{% endif %}
                        value="/{{ lang_code }}/"
                        data-content='<span class="flag-icon flag-icon-{{ lang_code|get_country_code }}"></span> {{ land_display }}'>
                    {{ land_display }}
                </option>
            {% endfor %}
        </select>

    </div>
</nav>