{% load i18n %}

{% for mail in results %}

    <li class="list-group-item">
        <a href="{% url 'mails:mail-detail' mail.hash %}" class="link-success" style="text-decoration: none;">
            <span>
                {% translate "From" %}: {{ mail.from_email }} {% if mail.from_name %}({{ mail.from_name }}){% endif %}
            </span>
        </a>
    </li>

{% empty %}
    {% include 'mails/parts/inbox_empty.html' %}
{% endfor %}
