{% load i18n %}

<div class="text-center">
    <h4 class="h5">{% translate "Your inbox is empty" %}</h4>
    <p class="card-text">{% translate "Waiting for incoming emails" %}</p>
    <div class="min-height-0 pd-top-0" id="email-spinner">
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>