/* ======== custombox/custombox.css ======== */

.custombox-content,
.custombox-overlay {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 100%
}
.custombox-overlay {
    z-index: 9997;
    opacity: 0;
    transition-delay: 0s;
    transition-timing-function: linear;
    transition-property: opacity
}
.custombox-content {
    z-index: 9999;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: stretch;
    align-content: stretch
}
.custombox-lock {
    overflow: hidden
}
.custombox-reference {
    display: none
}
.custombox-content {
    overflow-y: auto
}
.custombox-content>* {
    max-width: 100%;
    max-height: 95%
}
.custombox-y-center {
    -ms-flex-align: center;
    align-items: center
}
.custombox-x-center {
    -ms-flex-pack: center;
    justify-content: center
}
.custombox-fadein.custombox-content {
    opacity: 0
}
.custombox-fadein.custombox-content.custombox-open {
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    backface-visibility: hidden
}
.custombox-fadein.custombox-content.custombox-close {
    animation-name: fadeOut;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    backface-visibility: hidden
}
.custombox-loader {
    display: none;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    z-index: 9998
}