/* styles which are not regenerates */

.g-brd-black-left {
    border-left-color: #000 !important;
}

@media (min-width: 992px) {
    .offset-lg-2 {
        margin-left: 16.666667%;
    }
}

@media (min-width: 992px) {
    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
}

@media (min-width: 992px) {
    .cw-75 {
        width: 75% !important;
    }
}

@media (max-width: 575px) {
  .g-hidden-xs-down {
    display: none !important;
  }
}

@media (min-width:0px) and (max-width:1199px) {
	.hidden-xs-sm-md-lg {
		display: none!important
	}
}
@media (min-width:1200px) {
	.visable-xl {
		display: block!important
	}
}
/*.ad-block-left-336X280 {*/
/*	float: right;*/
/*	margin-left: -81px*/
/*}*/

@media (max-width:1300px) {
	.ad-block-left-336X280 {
		max-width: 282px;
		margin-left: 0
	}
}
.ad-block-right-336X280 {
	max-width: 300px;
	margin-right: -50px
}

@media (max-width:1300px) {
	.ad-block-right-336X280 {
		margin-right: -27px
	}
}
.ad-block-336X280 {
	max-width: 336px;
	height: 280px;
	position: relative
}

@media (max-width:1300px) {
	.ad-block-336X280 {
		max-width: 250px;
		height: 270px
	}
}
