@font-face {
  font-display: swap;
  font-family: 'FontAwesome';
  src: url('/static/assets/vendor/icon-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('/static/assets/vendor/icon-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('/static/assets/vendor/icon-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('/static/assets/vendor/icon-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('/static/assets/vendor/icon-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('/static/assets/vendor/icon-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
	font-family: "cristmas";
	src:url("/static/assets/vendor/icon-line-pro/christmas/webfont/fonts/cristmas.eot");
	src:url("/static/assets/vendor/icon-line-pro/christmas/webfont/fonts/cristmas.eot?#iefix") format("embedded-opentype"),
	url("/static/assets/vendor/icon-line-pro/christmas/webfont/fonts/cristmas.woff") format("woff"),
	url("/static/assets/vendor/icon-line-pro/christmas/webfont/fonts/cristmas.ttf") format("truetype"),
	url("/static/assets/vendor/icon-line-pro/christmas/webfont/fonts/cristmas.svg#cristmas") format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-icon-christmas]:before {
	font-family: "cristmas" !important;
	content: attr(data-icon-christmas);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-christmas"]:before,
[class*=" icon-christmas"]:before {
	font-family: "cristmas" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-display: swap;
	font-family: "clothes";
	src:url("/static/assets/vendor/icon-line-pro/clothes/webfont/fonts/clothes.eot");
	src:url("/static/assets/vendor/icon-line-pro/clothes/webfont/fonts/clothes.eot?#iefix") format("embedded-opentype"),
	url("/static/assets/vendor/icon-line-pro/clothes/webfont/fonts/clothes.woff") format("woff"),
 	url("/static/assets/vendor/icon-line-pro/clothes/webfont/fonts/clothes.ttf") format("truetype"),
	url("/static/assets/vendor/icon-line-pro/clothes/webfont/fonts/clothes.svg#clothes") format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-icon-clothes]:before {
	font-family: "clothes" !important;
	content: attr(data-icon-clothes);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-clothes"]:before,
[class*=" icon-clothes"]:before {
	font-family: "clothes" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-display: swap;
	font-family: "communication-48-x-48";
	src:url("/static/assets/vendor/icon-line-pro/communication/webfont/fonts/communication-48-x-48.eot");
	src:url("/static/assets/vendor/icon-line-pro/communication/webfont/fonts/communication-48-x-48.eot?#iefix") format("embedded-opentype"),
	url("/static/assets/vendor/icon-line-pro/communication/webfont/fonts/communication-48-x-48.woff") format("woff"),
	url("/static/assets/vendor/icon-line-pro/communication/webfont/fonts/communication-48-x-48.ttf") format("truetype"),
	url("/static/assets/vendor/icon-line-pro/communication/webfont/fonts/communication-48-x-48.svg#communication-48-x-48") format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-icon-communication]:before {
	font-family: "communication-48-x-48" !important;
	content: attr(data-icon-communication);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}

[class^="icon-communication"]:before,
[class*=" icon-communication"]:before {
	font-family: "communication-48-x-48" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Finance */
@font-face {
  font-display: swap;
	font-family: "finance";
	src:url("/static/assets/vendor/icon-line-pro/finance/webfont/fonts/finance.eot");
	src:url("/static/assets/vendor/icon-line-pro/finance/webfont/fonts/finance.eot?#iefix") format("embedded-opentype"),
	url("/static/assets/vendor/icon-line-pro/finance/webfont/fonts/finance.woff") format("woff"),
	url("/static/assets/vendor/icon-line-pro/finance/webfont/fonts/finance.ttf") format("truetype"),
	url("/static/assets/vendor/icon-line-pro/finance/webfont/fonts/finance.svg#finance") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'hs-icons';
  src:
    url('/static/assets/vendor/icon-hs/fonts/hs-icons.ttf?xa77py') format('truetype'),
    url('/static/assets/vendor/icon-hs/fonts/hs-icons.woff?xa77py') format('woff'),
    url('/static/assets/vendor/icon-hs/fonts/hs-icons.svg?xa77py#hs-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
