<nav class="text-center pagination-js">
    <ul class="list-inline">
        <li class="list-inline-item g-mr-0 {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}!#{% endif %}" tabindex="-1" aria-label="Previous">
                <span aria-hidden="true">«</span> <span class="sr-only">Previous</span>
            </a>
        </li>
        {% for i in page_obj.paginator.page_range %}
            {% if i <= 3 %}
                <li class="list-inline-item g-mr-0 {% if page_obj.number == i %}active{% endif %}">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.paginator.num_pages > 3 %}
            <li class="list-inline-item g-mr-0 g-hidden-sm-down">
                <span class="g-pa-7-14">...</span>
            </li>
            {% for i in page_obj.paginator.page_range %}
                {% if i >= page_obj.paginator.num_pages|add:-2 %}
                    <li class="list-inline-item g-mr-0 {% if page_obj.number == i %}active{% endif %}">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
        <li class="list-inline-item g-mr-0 {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}!#{% endif %}" aria-label="Next">
                <span aria-hidden="true">»</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
