{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>{% block error_code %}{% endblock error_code %}</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <!-- Google Fonts -->
    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/bootstrap.min.css' %}">
    <!-- CSS Unify -->
    <link rel="stylesheet" href="{% static 'assets/css/unify-core.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/unify-components.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/unify-globals.css' %}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
</head>

<body>
<main class="g-min-height-100vh g-flex-centered g-pa-15">
    <div class="text-center g-flex-centered-item g-position-rel g-pb-15">
        <div class="g-font-size-180 g-font-size-240--sm g-line-height-1 g-font-weight-600er g-color-gray-light-v4">404
        </div>

        <div class="g-absolute-centered">
            <h1 class="g-color-black g-mt-minus-8 mb-0">{% block error_message %}{% endblock error_message %}</h1>

            <hr class="g-brd-gray-light-v3 g-my-15">

            <p class="g-font-size-18 mb-0"><a href="/"
                                              class="g-color-black g-color-primary--hover g-text-no-underline--hover">←
                Home Page</a>
            </p>
        </div>
    </div>
</main>

<!-- JS Global Compulsory -->
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>
<script src="{% static 'assets/vendor/popper.js/popper.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/bootstrap.min.js' %}"></script>


<!-- JS Customization -->
<script src="{% static 'assets/js/custom.js' %}"></script>
</body>

</html>
