/* ======== custom.css ======== */

.loader {
    color: #72c02c !important;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 36px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (min-width: 0) {
  .g-py-7 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
}

.nav-link {
    display: block;
}
@media (min-width:0px) and (max-width:1199px) {
	.hidden-xs-sm-md-lg {
		display: none!important
	}
}
@media (min-width:1200px) {
	.visable-xl {
		display: block!important
	}
}
/*.ad-block-left-336X280 {*/
/*	float: right;*/
/*	margin-left: -81px*/
/*}*/

@media (max-width:1300px) {
	.ad-block-left-336X280 {
		max-width: 282px;
		margin-left: 0
	}
}
.ad-block-right-336X280 {
	max-width: 300px;
	margin-right: -50px
}

@media (max-width:1300px) {
	.ad-block-right-336X280 {
		margin-right: -27px
	}
}
.ad-block-336X280 {
	max-width: 336px;
	height: 280px;
	position: relative
}

@media (max-width:1300px) {
	.ad-block-336X280 {
		max-width: 250px;
		height: 270px
	}
}

.share-icons i {
    font-size: 35px;
}

.share-icons span {
    padding-top: 20px;
}

.g-mt-20 {
    margin-top: 20px;
}

.g-mb-10 {
    margin-bottom: 10px;
}

#share-buttons-text {
    font-size: 20px;
}

/* Button Deep Orange */
.u-btn-deeporange {
  color: #fff;
  background-color: #fe541e;
  border-color: #fe541e;
}

.u-btn-deeporange:hover, .u-btn-deeporange.active {
  border-color: #fe7b51;
  background-color: #fe7b51;
}

.u-btn-deeporange:hover, .u-btn-deeporange:focus, .u-btn-deeporange.active {
  color: #fff;
}

.u-btn-deeporange.g-btn-hover-reset:hover, .u-btn-deeporange.g-btn-hover-reset.active {
  background-color: #fe541e;
  border-color: #fe541e;
}

.u-btn-deeporange.u-btn-hover-v1-1 {
  overflow: hidden;
}

.u-btn-deeporange.u-btn-hover-v1-1::after, .u-btn-deeporange.u-btn-hover-v1-1:hover::after {
  background-color: #fe6737;
}

.u-btn-deeporange.u-btn-hover-v1-1:hover {
  background-color: #fe541e;
  overflow: hidden;
}

.u-btn-deeporange.u-btn-hover-v1-2 {
  overflow: hidden;
}

.u-btn-deeporange.u-btn-hover-v1-2::after, .u-btn-deeporange.u-btn-hover-v1-2:hover::after {
  background-color: #fe6737;
}

.u-btn-deeporange.u-btn-hover-v1-2:hover {
  background-color: #fe541e;
  overflow: hidden;
}

.u-btn-deeporange.u-btn-hover-v1-3 {
  overflow: hidden;
}

.u-btn-deeporange.u-btn-hover-v1-3::after, .u-btn-deeporange.u-btn-hover-v1-3:hover::after {
  background-color: #fe6737;
}

.u-btn-deeporange.u-btn-hover-v1-3:hover {
  background-color: #fe541e;
  overflow: hidden;
}

.u-btn-deeporange.u-btn-hover-v1-4 {
  overflow: hidden;
}

.u-btn-deeporange.u-btn-hover-v1-4::after, .u-btn-deeporange.u-btn-hover-v1-4:hover::after {
  background-color: #fe6737;
}

.u-btn-deeporange.u-btn-hover-v1-4:hover {
  background-color: #fe541e;
  overflow: hidden;
}

.u-btn-deeporange.u-btn-hover-v2-1 {
  overflow: hidden;
}

.u-btn-deeporange.u-btn-hover-v2-1::after, .u-btn-deeporange.u-btn-hover-v2-1:hover::after {
  background-color: #fe6737;
}

.u-btn-deeporange.u-btn-hover-v2-1:hover {
  background-color: #fe541e;
  overflow: hidden;
}

.u-btn-deeporange.u-btn-hover-v2-2 {
  overflow: hidden;
}

.u-btn-deeporange.u-btn-hover-v2-2::after, .u-btn-deeporange.u-btn-hover-v2-2:hover::after {
  background-color: #fe6737;
}

.u-btn-deeporange.u-btn-hover-v2-2:hover {
  background-color: #fe541e;
  overflow: hidden;
}

@media (min-width: 0) {
    .g-pl-10 {
        padding-left: 0.71429rem !important;
    }
    .g-pr-10 {
        padding-right: 0.71429rem !important;
    }
}
