{% extends "mails/base.html" %}


{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block main %}

    <section id="password-reset" class="section gray-bg">
        <div class="container">
            <!-- section title -->
            <div class="row justify-content-center m-45px-b sm-m-25px-b">
                <div class="col-lg-8">
                    <div class="section-title text-center">

                        <p class="dark-color">Your password has been set. You may go ahead and log in now.</p>

                        <p class="dark-color"><a href="{% url "login" %}">Log in</a></p>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
