{% extends "mails/base.html" %}

{% load i18n %}


{% block title %}{{ title }}{% endblock %}
{% block main %}

    <!-- Login -->
    <section class="container g-pt-100 g-pb-20" id="password-reset">
        <div class="row justify-content-between">
            <div class="col-md-6 col-lg-5 flex-md-unordered g-mb-80">
                <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
                    <p class="dark-color">
                        {% blocktrans %}
                            We’ve emailed you instructions for setting your password, if an account
                            exists with the email you entered. You
                            should receive them shortly.
                        {% endblocktrans %}
                    </p>
                    <p class="dark-color">
                        {% blocktrans %}
                        If you don’t receive an email, please make sure you’ve entered the address you
                        registered
                        with, and check your
                        spam folder.
                        {% endblocktrans %}
                    </p>
                </div>

            </div>
        </div>
    </section>
    <!-- End Login -->

    <section id="password-reset" class="section gray-bg">
        <div class="container">
            <!-- section title -->
            <div class="row justify-content-center m-45px-b sm-m-25px-b">
                <div class="col-lg-8">
                    <div class="section-title text-center">

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock main %}
