{% extends "mails/base.html" %}

{% load widget_tweaks %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block main %}

    <!-- Login -->
    <section class="container g-pt-100 g-pb-20" id="password-reset">
        <div class="row justify-content-between">
            <div class="col-md-6 col-lg-5 flex-md-unordered g-mb-80">
                {% if validlink %}

                    <form method="post">
                        {% csrf_token %}

                        {% for error in form.non_field_errors %}
                            <div class="form-group row">
                                <div class="ml-md-auto col-md-9">
                                    <div class="form-error-detail">{{ error }}</div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="form-group row">
                            <div class="ml-md-auto col-md-9">
                                <p class="dark-color">Please enter your new password twice so we can verify you typed it
                                    in
                                    correctly.</p>
                                <label class="g-color-gray-dark-v2 g-font-size-13">New password:</label>
                                {{ form.new_password1|add_class:"form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15"|add_error_class:'is-invalid' }}
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="ml-md-auto col-md-9">
                                <label class="g-color-gray-dark-v2 g-font-size-13">Confirm password:</label>
                                {{ form.new_password2|add_class:"form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15"|add_error_class:'is-invalid' }}
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="ml-md-auto col-md-9">
                                <button type="submit" class="btn btn-primary">Change my password</button>
                            </div>
                        </div>

                    </form>

                {% else %}
                    <div class="row justify-content-center m-45px-b sm-m-25px-b">
                        <div class="col-lg-8">
                            <div class="section-title text-center">

                                <p class="dark-color">The password reset link was invalid, possibly because it has
                                    already
                                    been used. Please
                                    request a new password
                                    reset.</p>
                            </div>
                        </div>
                    </div>

                {% endif %}
            </div>
        </div>
    </section>


{% endblock %}
