/* ======== unify-core.css ======== */

html {
  font-size: 14px;
}
body {
  font-weight: 400;
  font-size: 1rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  text-rendering: optimizelegibility;
  background-color: #fff;
}
a {
  color: #72c02c;
  outline: none;
}
a:focus,
a:hover {
  color: #66ab27;
}
.h1, .h2, .h3, .h4, .h5, .h6, .h7,
h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}
::selection {
  color: #fff;
  background-color: #72c02c;
}/* ======== unify-core.css ======== */

html {
  font-size: 14px;
}
body {
  font-weight: 400;
  font-size: 1rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  text-rendering: optimizelegibility;
  background-color: #fff;
}
a {
  color: #72c02c;
  outline: none;
}
a:focus,
a:hover {
  color: #66ab27;
}
.h1, .h2, .h3, .h4, .h5, .h6, .h7,
h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}
::selection {
  color: #fff;
  background-color: #72c02c;
}