/* ======== unify-globals.css ======== */

.g-bg-primary {
  background-color: #72c02c !important;
}
.g-bg-primary-opacity-0_2--hover:hover {
  background-color: rgba(114, 192, 44, 0.2) !important;
}
.g-bg-black-opacity-0_9 {
  background-color: rgba(0, 0, 0, 0.9) !important;
}
.g-bg-white {
  background-color: #fff !important;
}
.g-bg-white-opacity-0_1 {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.g-bg-gray-dark-v1 {
  background-color: #111 !important;
}
.g-bg-bluegray-opacity-0_3--before::before, .g-bg-bluegray-opacity-0_3--after::after {
  background-color: rgba(88, 95, 105, 0.3) !important;
}
.g-bg-img-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.g-bg-no-repeat {
  background-repeat: no-repeat;
}
.g-brd-none {
  /* P */
  border: none !important;
}
.g-brd-around {
  border: solid 1px transparent !important;
}
.g-brd-top {
  border-top: solid 1px transparent !important;
}
.g-brd-right {
  border-right: solid 1px transparent !important;
}
.g-brd-bottom {
  border-bottom: solid 1px transparent !important;
}
@media (min-width: 992px) {
.g-brd-right--lg {
    border-right: solid 1px transparent !important;
  }
}

@media (min-width: 992px) {
.g-brd-left--lg {
    border-left: solid 1px transparent !important;
  }
}

.rounded-0 {
  border-radius: 0 !important;
}
.g-brd-left-3 {
  border-left-width: 3px !important;
}
.g-brd-primary {
  border-color: #72c02c !important;
}
.g-brd-white-opacity-0_5 {
  border-color: rgba(255, 255, 255, 0.5) !important;
}
.g-brd-white-opacity-0_8 {
  border-color: rgba(255, 255, 255, 0.8) !important;
}
.g-brd-gray-light-v4 {
  border-color: #eee !important;
}
.g-brd-transparent {
  border-color: transparent !important;
}
.g-brd-primary-left {
  border-left-color: #72c02c !important;
}
.g-brd-white-right {
  border-right-color: #fff !important;
}
.g-font-size-default {
  font-size: 1rem !important;
}
.g-font-size-12 {
  font-size: 0.85714rem !important;
}
.g-font-size-16 {
  font-size: 1.14286rem !important;
}
.g-font-size-18 {
  font-size: 1.28571rem !important;
}
.g-font-size-35 {
  font-size: 2.5rem !important;
}
.g-font-weight-300 {
  font-weight: 300 !important;
}
.g-font-weight-600 {
  font-weight: 600 !important;
}
.g-text-underline--none--hover:focus, .g-text-underline--none--hover:hover {
  text-decoration: none;
}
.g-letter-spacing-0_5 {
  letter-spacing: 0.03571rem;
}
.g-line-height-1 {
  line-height: 1 !important;
}
.g-line-height-2 {
  line-height: 2 !important;
}
.g-pos-rel {
  position: relative !important;
}
.g-pos-abs {
  position: absolute !important;
}
.g-top-minus-3 {
  top: -0.21429rem !important;
}
.g-right-0 {
  right: 0 !important;
}
.g-absolute-centered {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
}
.g-flex-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.g-valign-middle {
  vertical-align: middle !important;
}
.g-overflow-y-auto {
  overflow-y: auto;
}
[class*="g-transition"] {
  transition-property: all;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.g-transition-0_3 {
  transition-duration: .3s;
}
.g-color-primary {
  color: #72c02c !important;
}
.g-color-black {
  color: #000 !important;
}
.g-color-white {
  color: #fff !important;
}
.u-block-hover:hover .g-color-white--hover, .g-color-white--hover:hover {
  color: #fff !important;
}
.g-color-white-opacity-0_6 {
  color: rgba(255, 255, 255, 0.6) !important;
}
.g-color-white-opacity-0_8 {
  color: rgba(255, 255, 255, 0.8) !important;
}
.g-color-gray-dark-v2 {
  color: #333 !important;
}
.g-color-gray-dark-v5 {
  color: #999 !important;
}
.g-color-blue {
  color: #3398dc !important;
}
.g-width-300 {
  width: 300px !important;
  /* P */
  max-width: 100%;
}
.g-max-width-540 {
  max-width: 540px;
}
.g-max-width-600 {
  max-width: 600px;
}
@media (min-width: 0) {
.g-mb-0 {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 0) {
.g-mt-5 {
    margin-top: 0.35714rem !important;
  }
}

@media (min-width: 0) {
.g-mb-7 {
    margin-bottom: 0.5rem !important;
  }
}

@media (min-width: 0) {
.g-mb-10 {
    margin-bottom: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-mb-15 {
    margin-bottom: 1.07143rem !important;
  }
}

@media (min-width: 0) {
.g-mb-20 {
    margin-bottom: 1.42857rem !important;
  }
}

@media (min-width: 0) {
.g-mb-10 {
    margin-bottom: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-mb-15 {
    margin-bottom: 1.07143rem !important;
  }
}

@media (min-width: 0) {
.g-mb-20 {
    margin-bottom: 1.42857rem !important;
  }
}

@media (min-width: 0) {
.g-mb-30 {
    margin-bottom: 2.14286rem !important;
  }
}

@media (min-width: 0) {
.g-mb-40 {
    margin-bottom: 2.85714rem !important;
  }
}

@media (min-width: 0) {
.g-mb-50 {
    margin-bottom: 3.57143rem !important;
  }
}

@media (min-width: 0) {
.g-mb-100 {
    margin-bottom: 7.14286rem !important;
  }
}

@media (min-width: 0) {
.g-ml-10 {
    margin-left: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-ml-10 {
    margin-left: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-mr-1 {
    margin-right: 0.07143rem !important;
  }
}

@media (min-width: 0) {
.g-mr-5 {
    margin-right: 0.35714rem !important;
  }
}

@media (min-width: 0) {
.g-mr-10 {
    margin-right: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-mr-5 {
    margin-right: 0.35714rem !important;
  }
}

@media (min-width: 0) {
.g-mr-10 {
    margin-right: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-mr-15 {
    margin-right: 1.07143rem !important;
  }
}

@media (min-width: 576px) {
.g-mb-0--sm {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 576px) {
.g-mb-50--sm {
    margin-bottom: 3.57143rem !important;
  }
}

@media (min-width: 768px) {
.g-mb-0--md {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 992px) {
.g-mb-0--lg {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 992px) {
.g-mx-10--lg {
    margin-left: 0.71429rem !important;
    margin-right: 0.71429rem !important;
  }
}

@media (min-width: 992px) {
.g-mx-10--lg {
    margin-left: 0.71429rem !important;
    margin-right: 0.71429rem !important;
  }
}

@media (min-width: 992px) {
.g-mr-10--lg {
    margin-right: 0.71429rem !important;
  }
}

@media (min-width: 992px) {
.g-mr-10--lg {
    margin-right: 0.71429rem !important;
  }
}

@media (min-width: 1200px) {
.g-mx-15--xl {
    margin-left: 1.07143rem !important;
    margin-right: 1.07143rem !important;
  }
}

@media (min-width: 576px) {
.g-mb-0--sm {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 768px) {
.g-mb-0--md {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 0) {
.g-pa-0 {
    padding: 0 !important;
  }
}

@media (min-width: 0) {
.g-px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 0) {
.g-pa-10 {
    padding: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-pa-20 {
    padding: 1.42857rem !important;
  }
}

@media (min-width: 0) {
.g-px-25 {
    padding-left: 1.78571rem !important;
    padding-right: 1.78571rem !important;
  }
}

@media (min-width: 0) {
.g-px-40 {
    padding-left: 2.85714rem !important;
    padding-right: 2.85714rem !important;
  }
}

@media (min-width: 0) {
.g-py-10 {
    padding-top: 0.71429rem !important;
    padding-bottom: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-py-12 {
    padding-top: 0.85714rem !important;
    padding-bottom: 0.85714rem !important;
  }
}

@media (min-width: 0) {
.g-py-10 {
    padding-top: 0.71429rem !important;
    padding-bottom: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-py-20 {
    padding-top: 1.42857rem !important;
    padding-bottom: 1.42857rem !important;
  }
}

@media (min-width: 0) {
.g-py-50 {
    padding-top: 3.57143rem !important;
    padding-bottom: 3.57143rem !important;
  }
}

@media (min-width: 0) {
.g-py-60 {
    padding-top: 4.28571rem !important;
    padding-bottom: 4.28571rem !important;
  }
}

@media (min-width: 0) {
.g-py-80 {
    padding-top: 5.71429rem !important;
    padding-bottom: 5.71429rem !important;
  }
}

@media (min-width: 0) {
.g-py-100 {
    padding-top: 7.14286rem !important;
    padding-bottom: 7.14286rem !important;
  }
}

@media (min-width: 0) {
.g-pt-10 {
    padding-top: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-pt-10 {
    padding-top: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-pt-20 {
    padding-top: 1.42857rem !important;
  }
}

@media (min-width: 0) {
.g-pt-50 {
    padding-top: 3.57143rem !important;
  }
}

@media (min-width: 0) {
.g-pt-100 {
    padding-top: 7.14286rem !important;
  }
}

@media (min-width: 0) {
.g-pr-5 {
    padding-right: 0.35714rem !important;
  }
}

@media (min-width: 0) {
.g-pb-50 {
    padding-bottom: 3.57143rem !important;
  }
}

@media (min-width: 0) {
.g-pl-30 {
    padding-left: 2.14286rem !important;
  }
}

@media (min-width: 768px) {
.g-py-50--md {
    padding-top: 3.57143rem !important;
    padding-bottom: 3.57143rem !important;
  }
}

@media (min-width: 992px) {
.g-pl-0--lg {
    padding-left: 0 !important;
  }
}

@media (min-width: 992px) {
.g-pt-5--lg {
    padding-top: 0.35714rem !important;
  }
}

@media (min-width: 992px) {
.g-pl-0--lg {
    padding-left: 0px !important;
  }
}

@media (min-width: 576px) {
.g-hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
.g-hidden-sm-down {
    display: none !important;
  }
}

@media (max-width: 991px) {
.g-hidden-md-down {
    display: none !important;
  }
}
/* ======== unify-globals.css ======== */

.g-bg-primary {
  background-color: #72c02c !important;
}
.g-bg-primary-opacity-0_2--hover:hover {
  background-color: rgba(114, 192, 44, 0.2) !important;
}
.g-bg-black-opacity-0_9 {
  background-color: rgba(0, 0, 0, 0.9) !important;
}
.g-bg-white {
  background-color: #fff !important;
}
.g-bg-white-opacity-0_1 {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.g-bg-gray-dark-v1 {
  background-color: #111 !important;
}
.g-bg-bluegray-opacity-0_3--before::before, .g-bg-bluegray-opacity-0_3--after::after {
  background-color: rgba(88, 95, 105, 0.3) !important;
}
.g-bg-img-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.g-bg-no-repeat {
  background-repeat: no-repeat;
}
.g-brd-none {
  /* P */
  border: none !important;
}
.g-brd-around {
  border: solid 1px transparent !important;
}
.g-brd-top {
  border-top: solid 1px transparent !important;
}
.g-brd-right {
  border-right: solid 1px transparent !important;
}
.g-brd-bottom {
  border-bottom: solid 1px transparent !important;
}
@media (min-width: 992px) {
.g-brd-right--lg {
    border-right: solid 1px transparent !important;
  }
}

@media (min-width: 992px) {
.g-brd-left--lg {
    border-left: solid 1px transparent !important;
  }
}

.rounded-0 {
  border-radius: 0 !important;
}
.g-brd-left-3 {
  border-left-width: 3px !important;
}
.g-brd-primary {
  border-color: #72c02c !important;
}
.g-brd-white-opacity-0_5 {
  border-color: rgba(255, 255, 255, 0.5) !important;
}
.g-brd-white-opacity-0_8 {
  border-color: rgba(255, 255, 255, 0.8) !important;
}
.g-brd-gray-light-v4 {
  border-color: #eee !important;
}
.g-brd-transparent {
  border-color: transparent !important;
}
.g-brd-primary-left {
  border-left-color: #72c02c !important;
}
.g-brd-white-right {
  border-right-color: #fff !important;
}
.g-font-size-default {
  font-size: 1rem !important;
}
.g-font-size-12 {
  font-size: 0.85714rem !important;
}
.g-font-size-16 {
  font-size: 1.14286rem !important;
}
.g-font-size-18 {
  font-size: 1.28571rem !important;
}
.g-font-size-35 {
  font-size: 2.5rem !important;
}
.g-font-weight-300 {
  font-weight: 300 !important;
}
.g-font-weight-600 {
  font-weight: 600 !important;
}
.g-text-underline--none--hover:focus, .g-text-underline--none--hover:hover {
  text-decoration: none;
}
.g-letter-spacing-0_5 {
  letter-spacing: 0.03571rem;
}
.g-line-height-1 {
  line-height: 1 !important;
}
.g-line-height-2 {
  line-height: 2 !important;
}
.g-pos-rel {
  position: relative !important;
}
.g-pos-abs {
  position: absolute !important;
}
.g-top-minus-3 {
  top: -0.21429rem !important;
}
.g-right-0 {
  right: 0 !important;
}
.g-absolute-centered {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
}
.g-flex-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.g-valign-middle {
  vertical-align: middle !important;
}
.g-overflow-y-auto {
  overflow-y: auto;
}
[class*="g-transition"] {
  transition-property: all;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.g-transition-0_3 {
  transition-duration: .3s;
}
.g-color-primary {
  color: #72c02c !important;
}
.g-color-black {
  color: #000 !important;
}
.g-color-white {
  color: #fff !important;
}
.u-block-hover:hover .g-color-white--hover, .g-color-white--hover:hover {
  color: #fff !important;
}
.g-color-white-opacity-0_6 {
  color: rgba(255, 255, 255, 0.6) !important;
}
.g-color-white-opacity-0_8 {
  color: rgba(255, 255, 255, 0.8) !important;
}
.g-color-gray-dark-v2 {
  color: #333 !important;
}
.g-color-gray-dark-v5 {
  color: #999 !important;
}
.g-color-blue {
  color: #3398dc !important;
}
.g-width-300 {
  width: 300px !important;
  /* P */
  max-width: 100%;
}
.g-max-width-540 {
  max-width: 540px;
}
.g-max-width-600 {
  max-width: 600px;
}
@media (min-width: 0) {
.g-mb-0 {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 0) {
.g-mt-5 {
    margin-top: 0.35714rem !important;
  }
}

@media (min-width: 0) {
.g-mb-7 {
    margin-bottom: 0.5rem !important;
  }
}

@media (min-width: 0) {
.g-mb-10 {
    margin-bottom: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-mb-15 {
    margin-bottom: 1.07143rem !important;
  }
}

@media (min-width: 0) {
.g-mb-20 {
    margin-bottom: 1.42857rem !important;
  }
}

@media (min-width: 0) {
.g-mb-10 {
    margin-bottom: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-mb-15 {
    margin-bottom: 1.07143rem !important;
  }
}

@media (min-width: 0) {
.g-mb-20 {
    margin-bottom: 1.42857rem !important;
  }
}

@media (min-width: 0) {
.g-mb-30 {
    margin-bottom: 2.14286rem !important;
  }
}

@media (min-width: 0) {
.g-mb-40 {
    margin-bottom: 2.85714rem !important;
  }
}

@media (min-width: 0) {
.g-mb-50 {
    margin-bottom: 3.57143rem !important;
  }
}

@media (min-width: 0) {
.g-mb-100 {
    margin-bottom: 7.14286rem !important;
  }
}

@media (min-width: 0) {
.g-ml-10 {
    margin-left: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-ml-10 {
    margin-left: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-mr-1 {
    margin-right: 0.07143rem !important;
  }
}

@media (min-width: 0) {
.g-mr-5 {
    margin-right: 0.35714rem !important;
  }
}

@media (min-width: 0) {
.g-mr-10 {
    margin-right: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-mr-5 {
    margin-right: 0.35714rem !important;
  }
}

@media (min-width: 0) {
.g-mr-10 {
    margin-right: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-mr-15 {
    margin-right: 1.07143rem !important;
  }
}

@media (min-width: 576px) {
.g-mb-0--sm {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 576px) {
.g-mb-50--sm {
    margin-bottom: 3.57143rem !important;
  }
}

@media (min-width: 768px) {
.g-mb-0--md {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 992px) {
.g-mb-0--lg {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 992px) {
.g-mx-10--lg {
    margin-left: 0.71429rem !important;
    margin-right: 0.71429rem !important;
  }
}

@media (min-width: 992px) {
.g-mx-10--lg {
    margin-left: 0.71429rem !important;
    margin-right: 0.71429rem !important;
  }
}

@media (min-width: 992px) {
.g-mr-10--lg {
    margin-right: 0.71429rem !important;
  }
}

@media (min-width: 992px) {
.g-mr-10--lg {
    margin-right: 0.71429rem !important;
  }
}

@media (min-width: 1200px) {
.g-mx-15--xl {
    margin-left: 1.07143rem !important;
    margin-right: 1.07143rem !important;
  }
}

@media (min-width: 576px) {
.g-mb-0--sm {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 768px) {
.g-mb-0--md {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 0) {
.g-pa-0 {
    padding: 0 !important;
  }
}

@media (min-width: 0) {
.g-px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 0) {
.g-pa-10 {
    padding: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-pa-20 {
    padding: 1.42857rem !important;
  }
}

@media (min-width: 0) {
.g-px-25 {
    padding-left: 1.78571rem !important;
    padding-right: 1.78571rem !important;
  }
}

@media (min-width: 0) {
.g-px-40 {
    padding-left: 2.85714rem !important;
    padding-right: 2.85714rem !important;
  }
}

@media (min-width: 0) {
.g-py-10 {
    padding-top: 0.71429rem !important;
    padding-bottom: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-py-12 {
    padding-top: 0.85714rem !important;
    padding-bottom: 0.85714rem !important;
  }
}

@media (min-width: 0) {
.g-py-10 {
    padding-top: 0.71429rem !important;
    padding-bottom: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-py-20 {
    padding-top: 1.42857rem !important;
    padding-bottom: 1.42857rem !important;
  }
}

@media (min-width: 0) {
.g-py-50 {
    padding-top: 3.57143rem !important;
    padding-bottom: 3.57143rem !important;
  }
}

@media (min-width: 0) {
.g-py-60 {
    padding-top: 4.28571rem !important;
    padding-bottom: 4.28571rem !important;
  }
}

@media (min-width: 0) {
.g-py-80 {
    padding-top: 5.71429rem !important;
    padding-bottom: 5.71429rem !important;
  }
}

@media (min-width: 0) {
.g-py-100 {
    padding-top: 7.14286rem !important;
    padding-bottom: 7.14286rem !important;
  }
}

@media (min-width: 0) {
.g-pt-10 {
    padding-top: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-pt-10 {
    padding-top: 0.71429rem !important;
  }
}

@media (min-width: 0) {
.g-pt-20 {
    padding-top: 1.42857rem !important;
  }
}

@media (min-width: 0) {
.g-pt-50 {
    padding-top: 3.57143rem !important;
  }
}

@media (min-width: 0) {
.g-pt-100 {
    padding-top: 7.14286rem !important;
  }
}

@media (min-width: 0) {
.g-pr-5 {
    padding-right: 0.35714rem !important;
  }
}

@media (min-width: 0) {
.g-pb-50 {
    padding-bottom: 3.57143rem !important;
  }
}

@media (min-width: 0) {
.g-pl-30 {
    padding-left: 2.14286rem !important;
  }
}

@media (min-width: 768px) {
.g-py-50--md {
    padding-top: 3.57143rem !important;
    padding-bottom: 3.57143rem !important;
  }
}

@media (min-width: 992px) {
.g-pl-0--lg {
    padding-left: 0 !important;
  }
}

@media (min-width: 992px) {
.g-pt-5--lg {
    padding-top: 0.35714rem !important;
  }
}

@media (min-width: 992px) {
.g-pl-0--lg {
    padding-left: 0px !important;
  }
}

@media (min-width: 576px) {
.g-hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
.g-hidden-sm-down {
    display: none !important;
  }
}

@media (max-width: 991px) {
.g-hidden-md-down {
    display: none !important;
  }
}
.g-bg-black-opacity-0_1 {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
