/* ======== icon-line-pro/style.css ======== */

[class^="icon-communication"]:before,
[class*=" icon-communication"]:before {
	font-family: "communication-48-x-48" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-communication-005:before {
	content: "e";
}
.icon-communication-026:before {
	content: "n";
}
[class^="icon-finance"]:before,
[class*=" icon-finance"]:before {
	font-family: "finance" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-finance-086:before {
	content: "\e05e";
}