{% extends "mails/base.html" %}

{% load static %}
{% load i18n %}
{% load compress %}

{% block main %}
    <style>
        .active a {
            color: white;
        }
    </style>
    <section class="g-mb-100">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card g-brd-none rounded-0 w-100" id="tokens_list">
                        <div class="row g-mb-10">
                            <div class="col-xs-12 col-md-6">
                                {% if allow_create %}
                                    <form method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-plus g-mr-5"></i> {% translate 'Create' %}
                                    </button>
                                </form>
                                {% else %}
                                    {% blocktranslate %}
                                    You can have maximum {{ max_tokens_allowed }} tokens.
                                    {% endblocktranslate %}
                                {% endif %}
                            </div>
                        </div>
                        <ul class="list-unstyled mails-list-js table-striped">
                            {% for token in object_list %}
                                <li
                                        style="{% if forloop.counter|divisibleby:2 %}background-color: rgba(0,0,0,.05);{% endif %} cursor: pointer;"
                                        class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 rounded g-pa-10 g-mb-10 g-bg-primary-opacity-0_2--hover">
                                    <div class="media-body">
                                        <div class="d-flex justify-content-between">
                                            <h5 class="h6 g-font-weight-600 g-color-black text-left">
                                                {% translate "Access Token" %}:
                                                <span class="token-visible" style="display: none;">{{ token.token }}</span>
                                                <span class="token-invisible">{% for i in token.token %}*{% endfor %}</span>
                                                <i class="fa fa-eye show-hide-token-js" aria-hidden="true"></i>
                                                <i class="fa fa-copy btn-copy-js"
                                                   data-clipboard-text="{{ token.token }}" aria-hidden="true"></i>
                                            </h5>
                                            <span class="g-color-primary g-pr-5">{% translate 'Expires' %} {{ token.expires }}</span>
                                            <span class="g-color-red g-pr-5">
                                                <i
                                                        class="fa fa-trash"
                                                        data-token-id="{{ token.id }}"
                                                        data-toggle="modal"
                                                        data-target="#deleteToken" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            {% empty %}
                                {% translate "You don't have tokens at the moment." %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock main %}

{% block modals %}
    {% include 'mails/parts/modals/delete_api_token.html' %}
{% endblock modals %}

{% block extra_js %}
    {% compress js %}
        <script>

            $(".show-hide-token-js").click(function(){
              $(this).closest('div').find('.token-visible, .token-invisible').toggle();
            });

            let clipboard = new ClipboardJS('.btn-copy-js');
            clipboard.on('success', function (e) {
                toastr.success("{% translate "Copied!" %}");
            });

            $(document).on('ready', function () {
                $('#deleteToken').on('show.bs.modal', function (e) {

                    let tokenId = $(e.relatedTarget).data('token-id');
                    {#let emailValue = $(e.relatedTarget).data('email-value');#}

                    let actionUrl = `/inboxes/api-keys/delete/${tokenId}/`;
                    $('#delete-api-token-form').attr('action', actionUrl);
                    {#$('#modal-delete-email-value').html(emailValue);#}

                });
            })
        </script>
    {% endcompress %}
{% endblock extra_js %}
