{% extends "mails/base.html" %}

{% load render_table from django_tables2 %}

{% block extra_head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
{% endblock extra_head %}


{% block main %}
    <section class="1g-bg-secondary g-py-50">
        <div class="container">
            <div class="row">
                <div class="card g-brd-none rounded-0 w-100">
                    {% render_table table %}
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
