{% extends "mails/base.html" %}

{% load i18n %}

{% block main %}
    <section class="1g-bg-secondary g-py-50">
        <div class="container">
            <div class="cw-75" style="margin-left: auto; margin-right: auto;">
                <div class="row">
                    <script type="text/javascript">
                        function addTargetBlank(iframe) {
                            {# Prevent openning <a> in the iframe. Open in the new tab #}
                            var as = iframe.contentDocument.getElementsByTagName('a');
                            for (i = 0; i < as.length; i++) {
                                as[i].setAttribute('target', '_blank');
                            }
                        }
                    </script>

                    <div class="card g-brd-primary rounded-0 w-100">
                        <h3 class="card-header h5 text-white g-bg-primary g-brd-transparent rounded-0">
                            <a href="{% url 'mails:user-inboxes' %}" class="text-white">
                                <i class="fa fa-arrow-left g-font-size-default g-mr-5"></i>
                                {% translate "Back to list" %}
                            </a>
                            {#            <span class="pull-right">Download</span>#}
                            {#            <span class="pull-right">Delete</span>#}
                            {#            <span class="pull-right">Source</span>#}
                        </h3>

                        <div class="card-block">
                            <div class="row">
                                <div class="g-hidden-sm-down col-md-1">
                                    <div class="g-width-50 g-height-50 rounded-circle text-center g-brd-primary g-brd-2 g-brd-style-solid"
                                         style="line-height: 50px;">
                                        {{ object.initials }}
                                    </div>
                                </div>
                                <div class="col col-md-4">
                                    {{ object.from_name }} <br/>
                                    {{ object.from_email }}
                                </div>
                                <div class="col col-md-7 text-right">
                                    <span class="text-muted"> {% translate "Date" %}: </span><br/>
                                    {{ object.created }}
                                </div>
                            </div>
                            <hr class="g-ml-0 g-mt-20 g-mb-20 g-mr-0">
                            <div class="row">
                                <div class="col-12">
                                    <span class="text-muted">{% translate "Subject" %}: </span> {{ object.subject }}
                                </div>
                            </div>
                            <hr class="g-ml-0 g-mt-20 g-mb-20 g-mr-0">

                            <!-- Nav tabs -->
                            <ul class="nav u-nav-v1-1 g-mb-20" role="tablist" id="email-content"
                                data-target="nav-1-1-accordion-default-hor-left"
                                data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-lightgray g-mb-20">
                                <li class="nav-item">
                                    <a class="nav-link {% if 'format' not in request.GET %}active{% endif %}"
                                       href="{% url 'mails:mail-detail-inbox' object.hash %}#email-content"
                                       role="tab">{% translate "Email" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.GET.format == 'raw' %}active{% endif %}"
                                       href="{% url 'mails:mail-detail-inbox' object.hash %}?format=raw#email-content"
                                       role="tab">{% translate "Raw Content" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.GET.format == 'json' %}active{% endif %}"
                                       href="{% url 'mails:mail-detail-inbox' object.hash %}?format=json#email-content"
                                       role="tab">JSON</a>
                                </li>
                            </ul>
                            <!-- End Nav tabs -->

                            {% if request.GET.format == 'raw' %}
                                <div class="row">
                                    <div class="col-12">
                        <span class="btn btn-md u-btn-primary g-mr-10 g-mb-15 js-refresh"
                              id="raw-content-copy-js"
                              data-clipboard-target="#raw-content">
                            <i class="fa fa-copy g-mr-5"></i>
                            {% translate "Copy" %}
                        </span>

                                        <div id="raw-content">{{ object.body|linebreaks }}</div>
                                    </div>
                                </div>
                            {% elif request.GET.format == 'json' %}
                                <div class="row">
                                    <div class="col-12">

                        <span class="btn btn-md u-btn-primary g-mr-10 g-mb-15 js-refresh"
                              id="json-content-copy-js"
                              data-clipboard-target="#json-content">
                            <i class="fa fa-copy g-mr-5"></i>
                            {% translate "Copy" %}
                        </span>
                                        <pre id="json-content">{{ json_display }}</pre>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row" style="height: 1000px;">
                                    <div class="col-12">
                                        <iframe srcdoc="<!DOCTYPE html>{{ object.body }}" frameborder="0"
                                                style="overflow:hidden;height:100%;width:100%" height="100%"
                                                width="100%" onload="addTargetBlank(this)"></iframe>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
