{% extends "mails/base.html" %}

{% load static %}
{% load i18n %}
{% load compress %}

{% block main %}
    <style>
        .active a {
            color: white;
        }
    </style>
    <section class="g-mb-100">
        <div class="container">
            <div class="row">
                <!-- Sidebar Navigation -->
                <div class="list-group list-group-border-0 col-lg-4">
                    <div class="list-group-item list-group-item-action justify-content-between{% if not request.GET.to_email__iexact %} active{% endif %}">
                        <a class=""
                           href="{% url 'mails:user-inboxes' %}">{% translate 'All Emails' %}</a>
                    </div>
                    {% for object in inboxes %}
                        <div class="list-group-item list-group-item-action justify-content-between{% if request.GET.to_email__iexact == object.email %} active{% endif %}">
                            <a href="{% url 'mails:user-inboxes' %}?to_email__iexact={{ object.email }}">
                                {{ object.email|slice:25 }}
                            </a>
                            <button
                                    data-email-id="{{ object.id }}"
                                    data-email-value="{{ object.email }}"
                                    type="button"
                                    class="btn pull-right" data-toggle="modal" data-target="#deleteEmail">
                                <i class="fa fa-trash"></i>
                            </button>
                            <button class="btn pull-right btn-copy-js"
                                    data-clipboard-text="{{ object.email }}">
                                <i class="fa fa-copy"></i>
                            </button>
                        </div>
                    {% endfor %}
                </div>
                <!-- End Sidebar Navigation -->

                <div class="col-lg-8">
                    <div class="card g-brd-none rounded-0 w-100" id="mails_container"></div>
                </div>
            </div>
        </div>
    </section>

{#    <section class="1g-bg-secondary g-py-50">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="card g-brd-none rounded-0 w-100" id="mails_container"></div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

{% endblock main %}

{% block modals %}
    {% include 'mails/parts/modals/create_new_email.html' %}
    {% include 'mails/parts/modals/delete_email.html' %}
{% endblock modals %}

{% block extra_js %}
    {% compress js %}
    <script src="{% static 'assets/js/create_email.js' %}"></script>
    <script src="{% static 'assets/js/long_polling.js' %}"></script>
    <script>

        let clipboard = new ClipboardJS('.btn-copy-js');
        clipboard.on('success', function(e) {
            toastr.success("{% translate "Copied!" %}");
        });

        $(document).on('ready', function () {
            $('#deleteEmail').on('show.bs.modal', function (e) {

                let emailId = $(e.relatedTarget).data('email-id');
                let emailValue = $(e.relatedTarget).data('email-value');

                let actionUrl = `/inboxes/delete/${emailId}/`;
                $('#delete-email-form').attr('action', actionUrl);
                $('#modal-delete-email-value').html(emailValue);

            });
        })
    </script>
    {% endcompress %}
{% endblock extra_js %}
