{% extends "mails/base.html" %}
{% load static %}

{% block main %}
    <hr />
    <section class="g-mb-100">
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-md-8">
                    <h2 class="mb-4">{{ object.title }}</h2>
                    <div class="post-content-body">
                        <p>{{ object.text }}</p>
                    </div>

                    <div class="g-font-size-18">
                        {% include object.template %}
                    </div>

                    <br />
                </div>

            </div>
        </div>
    </section>
{% endblock %}
