/* ======== typedjs/typed.css ======== */

.typed-cursor{
    position: relative;
    top: -6px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}