/* ======== dzsparallaxer/dzsparallaxer.css ======== */

.dzsparallaxer:not(.mode-oneelement) {
  height: 300px;
  overflow: hidden;
  background-color: #1c1a17;
  position: relative;
  transition-property: height;
  transition-duration: 0.3s;
  -moz-transition-property: height;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: height;
  -o-transition-duration: 0.3s;
  -ms-transition-property: height;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }
.dzsparallaxer:not(.mode-oneelement) .dzsparallaxer--target {
    position: relative; }
.dzsparallaxer:not(.mode-oneelement) > .container, .dzsparallaxer:not(.mode-oneelement) > .row, .dzsparallaxer:not(.mode-oneelement) > p, .dzsparallaxer:not(.mode-oneelement) > div {
    position: relative; }
.dzsparallaxer.use-loading .dzsparallaxer--target {
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.7s;
  -moz-transition-property: opacity, visibility;
  -moz-transition-duration: 0.7s;
  -webkit-transition-property: opacity, visibility;
  -webkit-transition-duration: 0.7s;
  -o-transition-property: opacity, visibility;
  -o-transition-duration: 0.7s;
  -ms-transition-property: opacity, visibility;
  -ms-transition-duration: 0.7s;
  -ms-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }
.dzsparallaxer.height-is-based-on-content {
  height: auto;
  padding: 0 !important; }
.dzsparallaxer.height-is-based-on-content .dzsparallaxer--target {
    position: absolute; }
.dzsparallaxer.height-is-based-on-content > div {
    position: relative; }
.dzsparallaxer.use-loading.loaded .dzsparallaxer--target {
  opacity: 1;
  visibility: visible; }
.divimage {
  background-size: cover;
  background-position: center center; }