{% extends 'mails/emails/base.html' %}

{% block content %}
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td class="content">

                        <h2>Mailbox Available Threshold was Reached</h2>

                        <p><strong>Threshold Level:</strong> {{ threshold }}</p>
                        <p><strong>Available before script:</strong> {{ available_mailboxes }}</p>
                        <p><strong>Available after script:</strong> {{ available_mailboxes_after }}</p>

                    </td>
                </tr>
            </table>

        </td>
    </tr>
{% endblock content %}

{% block footer %}{% endblock footer %}
{% block extra_includes %}{% endblock extra_includes %}
