{% extends "mails/base.html" %}

{% block title %}
    {{ flatpage.title }}
{% endblock title %}

{% block main %}
    <section class="section gray-bg">
        <div class="container">
            {{ flatpage.content|linebreaks|safe }}
        </div>
    </section>
{% endblock %}
