{% extends 'mails/emails/base.html' %}

{% block content %}
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td class="content">

                        <h2>Hi,</h2>

                        <p><strong>Name:</strong> {{ name }}</p>
                        <p><strong>Subject:</strong> {{ subject }}</p>
                        <p><strong>Message:</strong> {{ message }}</p>

                    </td>
                </tr>
            </table>

        </td>
    </tr>
{% endblock content %}
