{% load i18n %}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="create-email-form" action="{% url 'mails_api:create-email' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% translate 'Create Email' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email_value" class="col-form-label">{% translate 'Email' %}:</label>
                        <input type="text" class="form-control" name="email_value" id="email_value">
                    </div>
                    <div class="form-group">
                        <label for="domain" class="col-form-label">{% translate 'Domain' %}:</label>
                        <select id="domain" name="domain"
                                class="form-control form-control-md form-control-sm rounded-0">
                            {% for domain in domains %}
                                <option value="{{ domain.domain }}">{{ domain.domain }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        {% translate 'Close' %}
                    </button>
                    <button type="submit" class="btn btn-primary">
                        {% translate 'Create' %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
