{% load i18n %}

<div class="modal fade" id="deleteEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="delete-email-form" action="" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% translate 'Delete Email' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>{% translate 'Are you sure you want to delete email' %}<span
                            id="modal-delete-email-value"></span></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">{% translate 'Close' %}</button>
                    <button type="submit" class="btn btn-danger">{% translate 'Delete' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
