{% load static %}

{% load i18n %}
{% load compress %}

<!DOCTYPE html>
<html amp lang="{{ LANGUAGE_CODE }}">

<head>
    <!-- Title -->
    <title>{{ BRAND_NAME }} - {% block title %}{% endblock %}</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description"
          content="Registration free temporary email addresses. Temp mail, fake email, disposable email, temporary email, throwaway email, fake email generator, fakemail.
                  {% block description %}{% endblock %}"/>

    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {#  TODO clear preconnect and prefetch  #}
    <link rel="preconnect" href="https://googletagmanager.com/">
    <link rel="preconnect" href="https://google-analytics.com/">
    <link rel="preconnect" href="//fonts.gstatic.com/">
    <link rel="preconnect" href="//fonts.googleapis.com/">
    <link rel="preconnect" href="//cdnjs.cloudflare.com/">

    <link rel="dns-prefetch" href="//googleads.g.doubleclick.net/">
    <link rel="dns-prefetch" href="//google.com/">
    <link rel="dns-prefetch" href="//googleadservices.com/">
    <link rel="dns-prefetch" href="//fonts.gstatic.com/">
    <link rel="dns-prefetch" href="//fonts.googleapis.com/">
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com/">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>


    <link rel="alternate" href="{{ full_domain }}" hreflang="x-default">
    {% for lang_code, land_display in LANGUAGES %}
        <link rel="alternate" href="{{ full_domain }}/{{ lang_code }}/" hreflang="{{ lang_code }}">
    {% endfor %}


    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    {% block styles %}
        <style amp-custom>
            {% include 'amp/mails/styles/bootstrap.min.css' %}
        </style>
    {% endblock %}

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link rel="canonical" href="{{ full_domain }}{{ request.path|lower }}">
    <!-- Load amp-analytics -->
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>

    {% block extra_head %}{% endblock extra_head %}
</head>

<body>

{% if IS_PRODUCTION %}
    <!-- Configure analytics to use gtag -->
    <amp-analytics type="gtag" data-credentials="include">
      <script type="application/json">
        {
          "vars": {
            "gtag_id": "G-G5GDE8ZCM8",
            "config": {
              "G-G5GDE8ZCM8": { "groups": "default" }
            }
          }
        }
      </script>
    </amp-analytics>
{% endif %}

<main>

    {% include "amp/mails/parts/header.html" %}

    {% block main %}{% endblock main %}

    {% include "amp/mails/parts/footer.html" %}
</main>

<div class="u-outer-spaces-helper"></div>

</body>

</html>
