{% extends "amp/mails/base.html" %}
{% load i18n %}
{% load humanize %}
{% load compress %}

{% load static %}

{% block title %}
    {% translate "Get Your Temporary Email Today" %} ({% now "Y" %})
{% endblock %}

{% block main %}

    <section class="bg-dark pd-top-0">
        <div class="container text-center col-sm-12 col-md-10 col-lg-8 col-sm-12" style="padding-bottom: 20px;">
            <h1 class="text-white text-center">{% translate "Your Free Temporary Email" %}</h1>

            <div class="text-secondary pd-top-0 pd-bt-0"
                 style="max-width: 730px; margin-left: auto; margin-right: auto;">
                {% blocktranslate %}Looking for a 24 temp email solution? Consider using a disposable or temporary email address.
                These types of email addresses allow you to protect your personal information and avoid spam while still
                being able to receive important messages. A disposable email address can be used for online registration,
                subscription, or to keep your primary email address private. With a temporary email address, you can enjoy
                the convenience of receiving emails without the risk of receiving spam or unwanted messages.
                So, if you want to protect your personal information and reduce the risk of spam,
                consider using a 24 temp email or disposable/temporary email address.{% endblocktranslate %}
            </div>
            <div style="padding-top: 10px;">
                <a href="{{ full_domain }}"
                   class="btn btn-block btn-outline-success"
                   style="display: block; width: 100%; color: #fff; background-color: #198754;border-color: #198754; max-width: 250px;margin-left: auto; margin-right: auto;">
                    {% translate "Get my email address" %}
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="container" style="padding-top: 0; padding-bottom: 0;">
            <div class="text-dark pd-top-0 pd-bt-0"
                 style="max-width: 730px; margin-left: auto; margin-right: auto;">
                <h2 class="text-center">{% translate "How to use it" %}?</h2>
                {% blocktranslate %}
                    {{ BRAND_NAME }} is a disposable email address service. When you visit {{ BRAND_NAME }} a new email
                    address is generated just for you. The generated email address can immediately receive any emails.
                    Any email that is received will show up on the main page immediately. No one other than you will see
                    the emails
                    that are received. It is important to note that an email address expires after 24 hours. When an
                    email
                    address has expired, the email address and any received emails will be gone. A new email address
                    will
                    be generated upon visiting this website. There are many reasons for using a disposable email.
                    You may want to give someone an email address without revealing your identity. Or you may want to
                    sign up for a website or web service but you are concerned that the website will send you spam in
                    the future. <br/>
                    For using this service you MUST enable cookie and javascript, cookie is just to record your session
                    id
                    and language preference, your Privacy is covered under our Privacy and Cookie policy.
                {% endblocktranslate %}
            </div>
        </div>
    </section>

    <section style="padding-top: 10px;">
        <div class="container">
                <div style="max-width: 730px; margin-left: auto; margin-right: auto;">
                    <div class="card-header bg-dark text-white text-center">
                        {% translate "Demo Inbox" %}
                    </div>

                    <ul class="list-group list-group-flush" style="padding-right: 0;">
                        <li class="list-group-item">
                            <a href="{{ full_domain }}" class="link-success"
                               style="text-decoration: none;">
                            <span>
                                From: foster@randomail.io (James Turner)
                            </span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ full_domain }}" class="link-success"
                               style="text-decoration: none;">
                            <span>
                                From: obaker@randomail.io (Marcus Adams)
                            </span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ full_domain }}" class="link-success"
                               style="text-decoration: none;">
                            <span>
                                From: brian72@randomail.io (Kevin Neal)
                            </span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ full_domain }}" class="link-success"
                               style="text-decoration: none;">
                            <span>
                                From: tyler55@randomail.io (Nancy Peterson)
                            </span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ full_domain }}" class="link-success"
                               style="text-decoration: none;">
                            <span>
                                From: kayla43@randomail.io (Louis Hanna)
                            </span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ full_domain }}" class="link-success"
                               style="text-decoration: none;">
                            <span>
                                From: lopeztimothy@randomail.io (Amber Wise)
                            </span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ full_domain }}" class="link-success"
                               style="text-decoration: none;">
                            <span>
                                From: tamara68@randomail.io (Joseph Ramirez)
                            </span>
                            </a>
                        </li>
                    </ul>

                <div class="text-dark pd-top-0 pd-bt-0" style="max-width: 730px; margin-left: auto; margin-right: auto;">
                    <h2 class="text-center">How It Works</h2>
                    {{ BRAND_NAME }} is a disposable email address service. When you visit {{ BRAND_NAME }} a new email
                    address is generated just for you. The generated email address can immediately receive any emails.
                    Any email that is received will show up on the main page immediately. No one other than you will see
                    the emails
                    that are received. It is important to note that an email address expires after 24 hours. When an
                    email
                    address has expired, the email address and any received emails will be gone. A new email address
                    will
                    be generated upon visiting this website. There are many reasons for using a disposable email.
                    You may want to give someone an email address without revealing your identity. Or you may want to
                    sign up for a website or web service but you are concerned that the website will send you spam in
                    the future.
                </div>
            </div>
        </div>
    </section>

{% endblock main %}
