{% load static %}
{% load i18n %}

<!-- Footer -->
<div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
    <div class="container">
        <div class="row">
            <!-- Footer Content -->
            <div class="col-lg-4 col-md-6 g-mb-40 g-mb-0--lg">
                <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                    <h2 class="u-heading-v2__title h6 text-uppercase mb-0">{% translate "About Us" %}</h2>
                </div>

                <p>
                    {{ BRAND_NAME }} {% translate "platform is specifically designed to help you to forget about spam, advertising mailings, hacking and attacking robots. Keep your real mailbox clean and secure." %}
                    {{ BRAND_NAME }} {% translate "provides temporary, secure, anonymous, free, disposable email address." %}
                </p>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-4 col-md-6 g-mb-40 g-mb-0--lg">
                <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                    <h2 class="u-heading-v2__title h6 text-uppercase mb-0">{% translate "Useful Links" %}</h2>
                </div>

                <nav class="text-uppercase1">
                    <ul class="list-unstyled g-mt-minus-10 mb-0">
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{% url 'schema-redoc' %}">
                                    API
                                </a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{% url 'accounts:contact' %}">
                                    {% translate 'Contact Us' %}
                                </a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                <h4 class="h6 g-pr-20 mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover"
                                       href="{% url 'accounts:feedback' %}">
                                        {% translate 'Feedback' %}
                                    </a>
                                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                </h4>
                            </li>
                        {% else %}
                            <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                <h4 class="h6 g-pr-20 mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover"
                                       href="{% url 'accounts:django_registration_register' %}">
                                        {% translate 'Sign Up' %}
                                    </a>
                                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                </h4>
                            </li>
                            <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                <h4 class="h6 g-pr-20 mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover"
                                       href="{% url 'login' %}">
                                        {% translate 'Login' %}
                                    </a>
                                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                </h4>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-4 col-md-6">
                <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                    <h2 class="u-heading-v2__title h6 text-uppercase mb-0">{% translate "Our Contacts" %}</h2>
                </div>

                <address class="g-bg-no-repeat g-font-size-12 mb-0"
                         style="background-image: url({% static 'assets/img/maps/map2.png' %});">
                    <!-- Location -->
                    <div class="d-flex g-mb-20">
                        <div class="g-mr-10">
                      <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                        <i class="fa fa-map-marker"></i>
                      </span>
                        </div>
                        <p class="mb-0">{{ ADDRESS|safe }}</p>
                    </div>
                    <!-- End Location -->

                    <!-- Email and Website -->
                    <div class="d-flex g-mb-20">
                        <div class="g-mr-10">
                      <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                        <i class="fa fa-globe"></i>
                      </span>
                        </div>
                        <p class="mb-0">
                            {{ COMPANY_NAME }} <br />
                            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:{{ CONTACT_EMAIL }}">
                                {{ CONTACT_EMAIL }}
                            </a>
                        </p>
                    </div>
                    <!-- End Email and Website -->
                </address>
            </div>
            <!-- End Footer Content -->
        </div>
    </div>
</div>
<!-- End Footer -->

<!-- Copyright Footer -->
<footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
                <div class="d-lg-flex">
                    <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">
                        {% now "Y" %} &copy; {% translate "All Rights Reserved." %}
                    </small>
                    <ul class="u-list-inline">
                        <li class="list-inline-item">
                            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{% url 'accounts:privacy' %}">
                                {% translate "Privacy Policy" %}
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <span>|</span>
                        </li>
                        <li class="list-inline-item">
                            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{% url 'accounts:terms' %}">
                                {% translate "Terms of Use" %}
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <span>|</span>
                        </li>
                        <li class="list-inline-item">
                            <a class="g-color-white-opacity-0_8 g-color-white--hover"
                               href="{% url 'accounts:cookies_policy' %}">
                                {% translate "Cookies Policy" %}
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <span>|</span>
                        </li>
                        <li class="list-inline-item">
                            <a class="g-color-white-opacity-0_8 g-color-white--hover"
                               href="{% url 'accounts:faq' %}">
                                {% translate "FAQ" %}
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <span>|</span>
                        </li>
{#                        <li class="list-inline-item">#}
{#                            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{% url 'accounts:contact' %}">#}
{#                                Support#}
{#                            </a>#}
{#                        </li>#}
                    </ul>
                </div>
            </div>

            <div class="col-md-4 align-self-center">
{#                <ul class="list-inline text-center text-md-right mb-0">#}
{#                    <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"#}
{#                        title="Facebook">#}
{#                        <button data-url="{{ full_domain }}{{ request.path }}"#}
{#                                data-sharer="facebook"#}
{#                                class="g-color-white-opacity-0_5 g-color-white--hover">#}
{#                            <i class="fa fa-facebook"></i>#}
{#                        </button>#}
{#                    </li>#}
{#                    <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">#}
{#                        <button data-url="{{ full_domain }}{{ request.path }}"#}
{#                                data-sharer="twitter"#}
{#                                data-title="{% translate 'Get Your Free Temporary Email Today!' %}"#}
{#                                class="g-color-white-opacity-0_5 g-color-white--hover">#}
{#                            <i class="fa fa-twitter"></i>#}
{#                        </button>#}
{#                    </li>#}
{#                    <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"#}
{#                        title="Telegram">#}
{#                        <button data-url="{{ full_domain }}{{ request.path }}"#}
{#                                data-sharer="telegram"#}
{#                                data-title="{% translate 'Get Your Free Temporary Email Today!' %}"#}
{#                                class="g-color-white-opacity-0_5 g-color-white--hover">#}
{#                            <i class="fa fa-telegram"></i>#}
{#                        </button>#}
{#                    </li>#}
{#                    <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"#}
{#                        title="Reddit">#}
{#                        <button data-url="{{ full_domain }}{{ request.path }}"#}
{#                                data-sharer="reddit"#}
{#                                class="g-color-white-opacity-0_5 g-color-white--hover">#}
{#                            <i class="fa fa-reddit"></i>#}
{#                        </button>#}
{#                    </li>#}
{#                    <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="WhatsApp">#}
{#                        <button data-url="{{ full_domain }}{{ request.path }}"#}
{#                                data-sharer="whatsapp"#}
{#                                data-title="{% translate 'Get Your Free Temporary Email Today!' %}"#}
{#                                class="g-color-white-opacity-0_5 g-color-white--hover">#}
{#                            <i class="fa fa-whatsapp"></i>#}
{#                        </button>#}
{#                    </li>#}
{#                    <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"#}
{#                        title="Tumblr">#}
{#                        <button data-url="{{ full_domain }}{{ request.path }}"#}
{#                                data-sharer="tumblr"#}
{#                                data-title="{% translate 'Get Your Free Temporary Email Today!' %}"#}
{#                                class="g-color-white-opacity-0_5 g-color-white--hover">#}
{#                            <i class="fa fa-tumblr"></i>#}
{#                        </button>#}
{#                    </li>#}
{#                </ul>#}
            </div>
        </div>
    </div>
</footer>
<!-- End Copyright Footer -->
<a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{
 "bottom": 15,
 "right": 15
}' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
    <i class="hs-icon hs-icon-arrow-top"></i>
</a>
