{% load static %}
{% load active_link_tags %}
{% load mails_tags %}
{% load i18n %}

<!-- Header -->
<header id="js-header" class="u-header u-header--static">
    <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
        <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
            <div class="container">
                <!-- Responsive Toggle Button -->
                <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-minus-3 g-right-0"
                        type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar"
                        data-toggle="collapse" data-target="#navBar">
                      <span class="hamburger hamburger--slider">
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                      </span>
                      </span>
                </button>
                <!-- End Responsive Toggle Button -->

                <!-- Logo -->
                <a href="{% url 'mails:index' %}" class="navbar-brand d-flex">
                    <img src="{% static 'assets/img/logo/logo.webp' %}" alt="{{ BRAND_NAME }}-logo" height="36" width="168" style="height: 36px; width: 168px;" />
                </a>
                <!-- End Logo -->

                <!-- Navigation -->
                <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-10--lg"
                     id="navBar">

                    {% if request.user.is_authenticated %}
                        <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                            <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                <a href="{% url 'mails:user-inboxes' %}" class="nav-link g-py-7 g-px-0">
                                    {% translate 'Inboxes' %}
                                </a>
                            </li>
                        </ul>
                    {% else %}
                    {% with request.resolver_match.url_name as url_name %}
                        {% if url_name in 'mails:index,' %}
                        <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                            <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                <form class="form-inline" method="get" action="{% url 'mails:get-or-create-email' %}">
                                    <input class="form-control mr-sm-2" name="target_email" type="search" placeholder="{% translate 'Enter Email Address' %}"
                                           aria-label="Search" style="height: 40px;" required>
                                    <button style="height: 40px;" class="btn btn-outline-success my-2 my-sm-0 g-hidden-sm-down" type="submit">
                                        {% translate "GO" %}
                                    </button>
                                    <button style="height: 40px;" class="btn btn-block btn-outline-success my-2 my-sm-0 g-hidden-sm-up" type="submit">
                                        {% translate "GO" %}
                                    </button>
                                </form>
                            </li>
                        </ul>
                        {% endif %}
                    {% endwith %}
                    {% endif %}

                    <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                        {% if request.user.is_authenticated %}
                            <li class="nav-item  g-mx-10--lg g-mx-15--xl {% active_link 'accounts:faq' %}">
                                <a href="{% url 'accounts:faq' %}" class="nav-link g-py-7 g-px-0">
                                    {% translate 'FAQ' %}
                                </a>
                            </li>
                            <li class="nav-item  g-mx-10--lg g-mx-15--xl {% active_link 'accounts:feedback' %}">
                                <a href="{% url 'accounts:feedback' %}" class="nav-link g-py-7 g-px-0">
                                    {% translate 'Feedback' %}
                                </a>
                            </li>
                            <li class="nav-item  g-mx-10--lg g-mx-15--xl {% active_link 'accounts:contact' %}">
                                <a href="{% url 'accounts:contact' %}" class="nav-link g-py-7 g-px-0">{% translate "Contact Us" %}</a>
                            </li>
                            <li class="nav-item  g-mx-10--lg g-mx-15--xl {% active_link 'mails:api_keys' %}">
                                <a href="{% url 'mails:api_keys' %}" class="nav-link g-py-7 g-px-0">
                                    {% translate "API keys" %}
                                </a>
                            </li>
                            <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                <a href="{% url 'logout' %}" class="nav-link g-py-7 g-px-0">{% translate "Logout" %}</a>
                            </li>
                        {% else %}
                            <li class="nav-item  g-mx-10--lg g-mx-15--xl {% active_link 'accounts:faq' %}">
                                <a href="{% url 'accounts:faq' %}" class="nav-link g-py-7 g-px-0">
                                    {% translate 'FAQ' %}
                                </a>
                            </li>
                            <li class="nav-item  g-mx-10--lg g-mx-15--xl {% active_link 'accounts:contact' %}">
                                <a href="{% url 'accounts:contact' %}" class="nav-link g-py-7 g-px-0">{% translate "Contact Us" %}</a>
                            </li>
                            <li class="nav-item  g-mx-10--lg g-mx-15--xl {% active_link 'login' %}">
                                <a href="{% url 'login' %}" class="nav-link g-py-7 g-px-0">{% translate "Log In" %}</a>
                            </li>
                            <li class="nav-item  g-mx-10--lg g-mx-15--xl {% active_link 'accounts:django_registration_register' %}">
                                <a href="{% url 'accounts:django_registration_register' %}"
                                   class="btn btn-primary btn-block g-mr-15 g-pr-10 g-pl-10 u-btn-deeporange g-font-size-14 g-py-7 g-px-0">
                                    {% translate "Sign Up" %}
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                            <select class="selectpicker" data-width="fit" onchange="location = this.value;">
                                {% for lang_code, land_display in LANGUAGES %}
                                    <option {% if lang_code in LANGUAGE_CODE %}selected="selected"{% endif %}
                                            value="/{{ lang_code }}/"
                                            data-content='<span class="flag-icon flag-icon-{{ lang_code|get_country_code }}"></span> {{ land_display }}'>
                                        {{ land_display }}
                                    </option>
                                {% endfor %}
                            </select>
                        </li>
                    </ul>
                </div>
                <!-- End Navigation -->

                <div class="d-inline-block g-hidden-md-down g-pos-rel g-valign-middle g-pl-30 g-pl-0--lg">
                    {% if request.user.is_authenticated %}

                    {% else %}
                        {#                        <a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15"#}
                        {#                           href="{% url 'accounts:django_registration_register' %}">#}
                        {#                            Sign Up#}
                        {#                        </a>#}
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- End Header -->
