{% load i18n %}

{% for mail in results %}
    <li onclick="location.href='{% url "mails:mail-detail" mail.hash %}';" style="{% if forloop.counter|divisibleby:2 %}background-color: rgba(0,0,0,.05);{% endif %} cursor: pointer;" class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 {% if mail.seen %}g-brd-black-left{% else %}g-brd-primary-left{% endif %} rounded g-pa-10 g-mb-10 g-bg-primary-opacity-0_2--hover">
{#            <div class="d-flex g-mt-2 g-mr-15">#}
{#                <img class="g-width-40 g-height-40 rounded-circle mCS_img_loaded"#}
{#                     src="../../assets/img-temp/100x100/img1.jpg" alt="Image Description">#}
{#            </div>#}
        <div class="media-body">
            <div class="d-flex justify-content-between">
                <a href="{% url 'mails:mail-detail' mail.hash %}">
                    <h5 class="h6 g-font-weight-600 g-color-black text-left">
                        {% translate "From" %}: {{ mail.from_email }} {% if mail.from_name %}({{ mail.from_name }}){% endif %}
                    </h5>
                </a>
                <span class="small text-nowrap g-color-blue">
                    <a href="{% url 'mails:mail-detail' mail.hash %}"
                       class="g-ml-10 g-text-underline--none--hover js-mail-details">
                        <span class="g-color-primary g-pr-5">{{ mail.created_ago }} {% translate "ago" %} </span>
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </span>
            </div>
            <p class="text-left g-mb-0">{% translate "Subject" %}: {{ mail.subject }}</p>
{#                <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-rounded-20 g-px-10">HTML</span>#}
{#                <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-rounded-20 g-px-10">AnhularJS</span>#}
{#                <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-rounded-20 g-px-10">PHP</span>#}
        </div>
    </li>
{% empty %}
    {% include 'mails/parts/inbox_empty.html' %}
{% endfor %}
