{% load i18n %}

<div class="text-center g-pt-50 g-pb-110">
    <h4 class="h5">{% translate "Your inbox is empty" %}</h4>
    <p class="card-text">{% translate "Waiting for incoming emails" %}</p>
    <div class="loader">Loading...</div>
</div>