{% load i18n %}
{% load paginators %}

<div class="row">
    <div class="col-xs-12 col-md-6">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-plus g-mr-5"></i> {% translate 'Create' %}
        </button>
        <a class="btn u-btn-aqua" href="{% url 'mails:user-inboxes-create-random' %}">
            <i class="fa fa-random g-mr-5"></i> {% translate 'Generate' %}
        </a>
        <button class="btn btn-secondary" onclick="location.reload();">
            <i class="fa fa-refresh g-mr-5"></i> {% translate 'Refresh' %}
        </button>
    </div>
    <div class="col-xs-12 col-md-6">
        {% if is_paginated %}
            {% zinnia_pagination page_obj %}
        {% endif %}
    </div>
</div>

<hr class="g-mt-10 g-mb-10" />

{# long polling does not have page parameter (or should not) #}
{% if not request.GET.page %}
<div
        class="hidden" id="data-handler"
        data-last-email-id="{% if object_list %}{{ object_list.0.id }}{% else %}0{% endif %}"
></div>
{% endif %}

<ul class="list-unstyled mails-list-js table-striped">
    {% for mail in object_list %}
        <li onclick="location.href='{% url "mails:mail-detail-inbox" mail.hash %}';"
            style="{% if forloop.counter|divisibleby:2 %}background-color: rgba(0,0,0,.05);{% endif %} cursor: pointer;"
            class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 {% if mail.seen %}g-brd-black-left{% else %}g-brd-primary-left{% endif %} rounded g-pa-10 g-mb-10 g-bg-primary-opacity-0_2--hover">
            <div class="media-body">
                <div class="d-flex justify-content-between">
                    <a href="{% url 'mails:mail-detail-inbox' mail.hash %}">
                        <h5 class="h6 g-font-weight-600 g-color-black text-left">
                            {% translate "From" %}: {{ mail.from_email }} {% if mail.from_name %}({{ mail.from_name }}
                            ){% endif %}
                        </h5>
                    </a>
                    <span class="small text-nowrap g-color-blue">
                    <a href="{% url 'mails:mail-detail-inbox' mail.hash %}"
                       class="g-ml-10 g-text-underline--none--hover js-mail-details">
                        <span class="g-color-primary g-pr-5">{{ mail.created_since }} {% translate "ago" %} </span>
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </span>
                </div>
                <p class="text-left g-mb-0">{% translate "Subject" %}: {{ mail.subject }}</p>
            </div>
        </li>
    {% empty %}
        {% include 'mails/parts/user_inbox_empty.html' %}
    {% endfor %}
</ul>
