{% extends 'mails/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% translate 'Contact Us' %}{% endblock title %}

{% block main %}
    <!-- Promo Block -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall "
             data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
        <!-- Parallax Image -->
        <div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-size-cover g-bg-pos-top-center g-bg-black-opacity-0_2--after"
             style="height: 80%; background-image: url({% static "assets/img/contact_us/img2.jpg" %});"></div>
        <!-- End Parallax Image -->

        <!-- Promo Block Content -->
        <div class="container g-color-white g-pt-50 g-pb-200">
            <div class="text-center">
                <h2 class="g-font-weight-700 g-font-size-80 text-uppercase">{% trans "Let's Talk" %}</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9" {% if form.errors %}id="scroll-to-me-js"{% endif %}>
                    {% crispy form %}
                </div>
            </div>
        </div>
        <!-- Promo Block Content -->
    </section>
    <!-- End Promo Block -->
{% endblock main %}
