{% extends "mails/base.html" %}
{% load i18n %}

{% block title %}
    {% translate 'Cookie Policy' %}
{% endblock %}

{% block description %}
    {% translate 'Cookie Policy' %}
{% endblock %}

{% block main %}

    <style>
        /*
        Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
        */
        @media
          only screen
        and (max-width: 760px), (min-device-width: 768px)
        and (max-device-width: 1024px)  {

            /* Force table to not be like tables anymore */
            table, thead, tbody, th, td, tr {
                display: block;
            }

            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

        tr {
          margin: 0 0 1rem 0;
        }

        tr:nth-child(odd) {
          background: #ccc;
        }

            td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50% !important;
            }

            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 0;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
            }

            /*
            Label the data
        You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
            */
            td:nth-of-type(1):before { content: "#"; }
            td:nth-of-type(2):before { content: "DOMAIN"; }
            td:nth-of-type(3):before { content: "FIRST OR THIRD PARTY"; }
            td:nth-of-type(4):before { content: "COOKIE NAME"; }
            td:nth-of-type(5):before { content: "DESCRIPTION"; }
            td:nth-of-type(6):before { content: "EXPIRATION"; }
        }
    </style>

    <section class="g-py-100">
        <div class="container">
            <h1 class="h3 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">
                Cookie Policy
            </h1>
            <p>
                Last updated: April 28, 2020
            </p>

            <p>
                This cookie policy describes how {{ BRAND_NAME }} uses “cookies” and other similar technologies,
                in connection with our Site and Services. Any capitalized term used and not otherwise defined below has
                the
                meaning assigned to it in the Privacy Policy.
            </p>

            <p>
                1. What is a Cookie?
            </p>
            <p>
                Cookies are small text files that are stored in a computer’s browser directory.
                They help site providers with things like understanding how people use a site,
                remembering a User’s login details, and storing site preferences.
            </p>

            <p>
                2. Does {{ BRAND_NAME }} use Cookies?
            </p>
            <p>
                Yes. We use cookies in accordance with our Privacy Policy to:
                <br>
                - ensure that our Services function properly
                <br>
                - detect and prevent fraud
                <br>
                - understand how visitors use and engage with our Site
                <br>
                - analyze and improve Services.
            </p>

            <p>
                3. Who sets cookies when I use {{ BRAND_NAME }}’s Site?
            </p>
            <p>
                There are two main types of cookies that can be set:

                First party cookies: these cookies are placed and read by {{ BRAND_NAME }} directly when you use our
                Services,
                Third party cookies: these cookies are not set by {{ BRAND_NAME }}, but by other companies, like Google,
                for
                site analytics purposes. See further details below on how to manage these cookies.
            </p>

            <p>
                4. How {{ BRAND_NAME }} Uses Cookies
            </p>
            <p>
                Cookies play an important role in helping us provide effective and safe Services.
                Below is a list of commonly used cookies and the purposes that apply to them.
                This list is not exhaustive, and describes the main reasons why we typically use cookies.
            </p>

            <p>
                Necessary Cookies
                Some cookies are essential to the operation of our Site and Services and make
                it usable and secure by enabling basic functions like page navigation and access to secure areas of the
                Site.
                We use those cookies in a number of different ways, including:
                <br>

                - Authentication. To remember your login state so you don’t have to log in as you navigate through our
                Site
                and dashboard.
                <br>
                - Fraud Prevention and Detection. Cookies and similar technologies that we deploy through our Site help
                us
                learn things about computers and web browsers used to access the Services. This information helps us
                monitor
                for and detect potentially harmful or illegal use of our Services. For example, in order to process
                payments
                transactions for our Users, it is necessary for {{ BRAND_NAME }} to collect information about the
                transaction and
                the
                Customer. To help secure these transactions and minimize fraud, we collect additional information
                through
                the use of cookies and other technologies in helping to identify bad actors and prevent them from making
                fraudulent transactions. Customers should check our Users’ sites for more information about the use of
                {{ BRAND_NAME }} cookies for fraud detection.
                <br>
                - Security. To protect user data from unauthorized access.
            </p>

            <div class="table-responsive">
                <table class="table" role="table">
                    <thead role="rowgroup">
                    <tr role="row">
                        <th scope="col" role="columnheader">#</td>
                        <th scope="col" role="columnheader">DOMAIN</td>
                        <th scope="col" role="columnheader">FIRST OR THIRD PARTY</td>
                        <th scope="col" role="columnheader">COOKIE NAME</td>
                        <th scope="col" role="columnheader">DESCRIPTION</td>
                        <th scope="col" role="columnheader">EXPIRATION</td>
                    </tr>
                    </thead>
                    <tbody>

                    <tr role="row">
                        <td role="cell">1</td>
                        <td role="cell">.fakemail.io</td>
                        <td role="cell">first party</td>
                        <td role="cell">__stripe_mid<br>__stripe_sid</td>
                        <td role="cell">Fraud prevention and detection</td>
                        <td role="cell">1 year<br>30 mins</td>
                    </tr>

                    <tr role="row">
                        <td role="cell">2</td>
                        <td role="cell">fakemail.io</td>
                        <td role="cell">first party</td>
                        <td role="cell">csrftoken</td>
                        <td role="cell">Fraud prevention and detection</td>
                        <td role="cell">1 year</td>
                    </tr>

                    <tr role="row">
                        <td role="cell">3</td>
                        <td role="cell">.stripe.com</td>
                        <td role="cell">third party</td>
                        <td role="cell">site_sid<br>__stripe_id<br>user<br>recent-views<br>scfc<br>private_machine_identifier<br>docs.prefs<br>machine_identifier<br>lang<br>color-scheme<br>country<br>locale<br>site-auth
                        </td>
                        <td role="cell">Stripe "session ID" used for analytics and service improvement</td>
                        <td role="cell">2 hours<br>30 mins<br>Various<br> 1 year<br>1 year<br>1 year<br>1 year<br>Various<br>1 year<br>1
                            year<br>Various<br>Session<br>Session
                        </td>
                    </tr>

                    <tr role="row">
                        <td role="cell">4</td>
                        <td role="cell">.stripe.com</td>
                        <td role="cell">third party</td>
                        <td role="cell">stripe.csrf</td>
                        <td role="cell">Cross-site request forgery protection for Stripe Dashboard Users</td>
                        <td role="cell">1 year</td>
                    </tr>

                    <tr role="row">
                        <td role="cell">5</td>
                        <td role="cell">.stripe.com</td>
                        <td role="cell">third party</td>
                        <td role="cell">_ga<br>_gat<br>_gat_UA-12675062-5<br>_gid</td>
                        <td role="cell">Google Analytics cookies used for analytics and service improvement</td>
                        <td role="cell">2 years <br>1 minute <br>1 minute <br>1 day</td>
                    </tr>

                    <tr role="row">
                        <td role="cell">6</td>
                        <td role="cell">.stripe.com</td>
                        <td role="cell">third party</td>
                        <td role="cell">__stripe_orig_props</td>
                        <td role="cell">Used to measure the effectiveness of marketing campaigns</td>
                        <td role="cell">1 year</td>
                    </tr>

                    <tr role="row">
                        <td role="cell">7</td>
                        <td role="cell">.gstatic.com</td>
                        <td role="cell">third party</td>
                        <td role="cell"></td>
                        <td role="cell">Set by Google. This group sets a unique ID to remember your preferences and other information
                            such as website statistics and track conversion rates.
                        </td>
                        <td role="cell">Various</td>
                    </tr>

                    <tr role="row">
                        <td role="cell">8</td>
                        <td role="cell">.stripe.com</td>
                        <td role="cell">third party</td>
                        <td role="cell">merchant<br>__stripe_mid</td>
                        <td role="cell">Fraud prevention and detection</td>
                        <td role="cell">Various<br>1 year</td>
                    </tr>

                    <tr role="row">
                        <td role="cell">9</td>
                        <td role="cell">.stripe.com</td>
                        <td role="cell">third party</td>
                        <td role="cell">cid</td>
                        <td role="cell">Stripe analytics "client ID" used for service improvement</td>
                        <td role="cell">Session</td>
                    </tr>

                    <tr role="row">
                        <td role="cell">10</td>
                        <td role="cell">.fakemail.io</td>
                        <td role="cell">first party</td>
                        <td role="cell">__stripe_mid<br>__stripe_sid</td>
                        <td role="cell">Fraud prevention and detection</td>
                        <td role="cell">1 year<br>30 mins</td>
                    </tr>

                    <tr role="row">
                        <td role="cell">11</td>
                        <td role="cell">fakemail.io</td>
                        <td role="cell">first party</td>
                        <td role="cell">sessionid</td>
                        <td role="cell">Login session for {{ BRAND_NAME }} Dashboard</td>
                        <td role="cell">Various</td>
                    </tr>

                    <tr role="row">
                        <td role="cell">12</td>
                        <td role="cell">facebook.com</td>
                        <td role="cell">third party</td>
                        <td role="cell">_fbp</td>
                        <td role="cell">Facebook advertising</td>
                        <td role="cell">3 months</td>
                    </tr>

                    <tr role="row">
                        <td role="cell">13</td>
                        <td role="cell">facebook.com</td>
                        <td role="cell">third party</td>
                        <td role="cell">art_token / cbt_token / cct_token / cdt_token / ect_toksvt_token / lc_ token/prt_token /
                            act_token / ect_token
                        </td>
                        <td role="cell">Used to confirm authentication for - account recovery/ change of bank account/ login
                            challenge/password reset/ support request/adding an email/new device
                        </td>
                        <td role="cell">Session</td>
                    </tr>

                    <tr role="row">
                        <td role="cell">14</td>
                        <td role="cell">fakemail.io</td>
                        <td role="cell">first party</td>
                        <td role="cell">pvisitor</td>
                        <td role="cell">Fraud prevention and detection</td>
                        <td role="cell">Various</td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <p>
                5. Can I opt-out?
            </p>
            <p>
                Yes, with the exception of those cookies that are necessary to provide you with our Services.
                Your web browser may allow you to manage your cookie preferences, including to delete and
                disable {{ BRAND_NAME }} cookies.
                You can take a look at the help section of your web browser or follow the links below to understand your
                options.
                If you choose to disable cookies, some features of our Site or Services may not operate as intended.
                <br>
                <br>
                Chrome: <a href="https://support.google.com/chrome/answer/95647?hl=en">https://support.google.com/chrome/answer/95647?hl=en</a>
                <br>
                Explorer: <a
                    href="https://support.microsoft.com/en-us/windows/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d">https://support.microsoft.com/en-us/topic/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d</a>
                <br>
                Safari: <a href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac">https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac</a>
                <br>
                Firefox: <a
                    href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer">https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer</a>
                <br>
                Opera: <a href="https://help.opera.com/en/latest/web-preferences/#cookies">https://help.opera.com/en/latest/web-preferences/#cookies</a>
            </p>
        </div>
    </section>

{% endblock %}
