{% extends "mails/base.html" %}
{% load static %}

{% block title %}
    Pricing
{% endblock %}

{% block main %}

    <!-- Promo Block -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall "
             data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
        <!-- Parallax Image -->
        <div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-size-cover g-bg-pos-top-center g-bg-primary-gradient-opacity-v1--after"
             style="height: 140%; background-image: url({% static 'assets/img/bg/pricing/img2.jpg' %});"></div>
        <!-- End Parallax Image -->

        <!-- Promo Block Content -->
        <div class="container g-color-white text-center g-pos-rel g-z-index-1 g-pt-150 g-pb-200">
            <h3 class="h2 g-font-weight-300 mb-0">Finding your perfect plan.</h3>
            <h1 class="g-font-weight-700 g-font-size-65 text-uppercase">Pricing plan</h1>
        </div>
        <!-- Promo Block Content -->
    </section>
    <!-- End Promo Block -->

    <!-- Pricing Plans -->
    <section class="g-bg-gray-light-v5">
        <div class="container g-pb-100">
            <!-- Pricing Plans -->
            <div class="row g-mt-minus-100 g-mb-70">
                {% for plan in plans %}
                    <div class="col-md-4 g-mb-30">
                        <!-- Article -->
                        <article
                                class="text-center g-rounded-5 g-brd-around g-brd-gray-light-v5 g-overflow-hidden u-shadow-v1-5--hover g-transition-0_3">
                            <!-- Article Header -->
                            <header class="g-bg-gray-light-v5 g-color-black g-pa-40">
                                <!-- Article Title -->
                                <h3 class="g-font-weight-300 g-mb-5">{{ plan.label }}</h3>
                                <!-- End Article Title -->

                                {% if plan.amount == 'Free' %}
                                    <div class="g-font-size-36 g-font-weight-600 g-line-height-1_2">
                                        {{ plan.amount }}
                                        <em class="d-block g-font-style-normal g-font-size-default g-font-weight-300 g-mt-15">
                                            &nbsp;
                                        </em>
                                    </div>
                                {% else %}
                                    <div class="g-font-size-36 g-font-weight-600 g-line-height-1_2">
                                        ${{ plan.amount }}
                                        <em class="d-block g-font-style-normal g-font-size-default g-font-weight-300 g-mt-15">
                                            per month
                                        </em>
                                    </div>
                                {% endif %}
                            </header>
                            <!-- End Article Header -->

                            <!-- Article Content -->
                            <div class="g-color-gray-dark-v4 g-px-35 g-pt-40 g-pb-20">
                                <ul class="list-unstyled mb-0">
                                    {% for feature in plan.features %}
                                        <li class="g-mb-20">{{ feature|default:"&nbsp;"|safe }}</li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <a class="btn w-100 u-btn-primary rounded-0 g-font-weight-600 g-pa-15-30"
                               href="{% url 'accounts:django_registration_register' %}">
                                Get Started
                            </a>
                            <!-- End Article Content -->
                        </article>
                        <!-- End Article -->
                    </div>
                {% endfor %}
            </div>
            <!-- End Pricing Plans -->

            <h2 class="h5 g-font-weight-700 text-center text-uppercase mb-5">Why {{ BRAND_NAME }}?</h2>

            <!-- Icons Block -->
            <div class="row no-gutters justify-content-center">
                <div class="col-md-5 col-lg-4">
                    <!-- Icon Blocks -->
                    <div class="u-shadow-v20 g-brd-right--md g-brd-gray-light-v5 g-bg-white text-center g-rounded-left-5 g-px-20 g-py-40">
              <span class="u-icon-v1 u-icon-size--lg g-color-black g-mb-10">
                  <i class="icon-education-087 u-line-icon-pro"></i>
                </span>
                        <h3 class="h5 mb-2">Creative ideas</h3>
                        <p class="g-color-gray-dark-v5">This is where we sit down, grab a cup of coffee and dial in the
                            details.</p>
                    </div>
                    <!-- End Icon Blocks -->
                </div>

                <div class="col-md-5 col-lg-4">
                    <!-- Icon Blocks -->
                    <div class="u-shadow-v20 g-bg-white text-center g-rounded-right-5 g-px-20 g-py-40">
              <span class="u-icon-v1 u-icon-size--lg g-color-black g-mb-10">
                  <i class="icon-education-035 u-line-icon-pro"></i>
                </span>
                        <h3 class="h5 mb-2">Excellent features</h3>
                        <p class="g-color-gray-dark-v5">This is where we sit down, grab a cup of coffee and dial in the
                            details.</p>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
            </div>
            <!-- End Icons Block -->
        </div>
    </section>
    <!-- End Pricing Plans -->

    <!-- Accordion -->
    <section class="g-bg-gray-gradient-opacity-v1">
        <div class="container g-py-100">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <!-- Heading -->
                    <div class="text-center g-mb-60">
                        <h2 class="mb-2">Frequently Asked Questions</h2>
                        <div class="d-inline-block g-width-35 g-height-1 g-bg-gray-dark-v5 mb-2"></div>
                        <p>We aim high at being focused on building relationships with our clients and community.</p>
                    </div>
                    <!-- End Heading -->

                    <div id="accordion" class="u-accordion u-accordion-color-primary" role="tablist"
                         aria-multiselectable="true">
                        <!-- Card -->
                        <div class="card g-brd-none rounded g-mb-20">
                            <div id="accordion-heading-01" class="u-accordion__header g-pa-0" role="tab">
                                <h5 class="mb-0">
                                    <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20"
                                       href="#accordion-body-01" data-toggle="collapse" data-parent="#accordion"
                                       aria-expanded="false" aria-controls="accordion-body-01">
                                        What is website monitoring?
                                        <span class="u-accordion__control-icon g-color-primary">
                          <i class="fa fa-angle-down"></i>
                          <i class="fa fa-angle-up"></i>
                        </span>
                                    </a>
                                </h5>
                            </div>
                            <div id="accordion-body-01" class="collapse" role="tabpanel"
                                 aria-labelledby="accordion-heading-01" data-parent="#accordion">
                                <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                    Website monitoring is the process of checking is the website works correctly and if
                                    the users can interact with the website as expected.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card g-brd-none rounded g-mb-20">
                            <div id="accordion-heading-02" class="u-accordion__header g-pa-0" role="tab">
                                <h5 class="mb-0">
                                    <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20"
                                       href="#accordion-body-02" data-toggle="collapse" data-parent="#accordion"
                                       aria-expanded="false" aria-controls="accordion-body-02">
                                        Why do I need website monitoring?
                                        <span class="u-accordion__control-icon g-color-primary">
                          <i class="fa fa-angle-down"></i>
                          <i class="fa fa-angle-up"></i>
                        </span>
                                    </a>
                                </h5>
                            </div>
                            <div id="accordion-body-02" class="collapse" role="tabpanel"
                                 aria-labelledby="accordion-heading-02" data-parent="#accordion">
                                <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                    You need website monitoring if you run an online business and want to make sure that
                                    your website is working properly.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card g-brd-none rounded g-mb-20">
                            <div id="accordion-heading-03" class="u-accordion__header g-pa-0" role="tab">
                                <h5 class="mb-0">
                                    <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20"
                                       href="#accordion-body-03" data-toggle="collapse" data-parent="#accordion"
                                       aria-expanded="false" aria-controls="accordion-body-03">
                                        What is {{ BRAND_NAME }} platform?
                                        <span class="u-accordion__control-icon g-color-primary">
                          <i class="fa fa-angle-down"></i>
                          <i class="fa fa-angle-up"></i>
                        </span>
                                    </a>
                                </h5>
                            </div>
                            <div id="accordion-body-03" class="collapse" role="tabpanel"
                                 aria-labelledby="accordion-heading-03" data-parent="#accordion">
                                <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                    {{ BRAND_NAME }} is a platform designed to monitor the status of your website.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card g-brd-none rounded g-mb-20">
                            <div id="accordion-heading-04" class="u-accordion__header g-pa-0" role="tab">
                                <h5 class="mb-0">
                                    <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20"
                                       href="#accordion-body-04" data-toggle="collapse" data-parent="#accordion"
                                       aria-expanded="false" aria-controls="accordion-body-04">
                                        How do I know if my website doesn’t work?
                                        <span class="u-accordion__control-icon g-color-primary">
                          <i class="fa fa-angle-down"></i>
                          <i class="fa fa-angle-up"></i>
                        </span>
                                    </a>
                                </h5>
                            </div>
                            <div id="accordion-body-04" class="collapse" role="tabpanel"
                                 aria-labelledby="accordion-heading-04" data-parent="#accordion">
                                <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                    With the help of {{ BRAND_NAME }} platform, you can get notified when your website or server doesn’t work.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card g-brd-none rounded g-mb-20">
                            <div id="accordion-heading-05" class="u-accordion__header g-pa-0" role="tab">
                                <h5 class="mb-0">
                                    <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20"
                                       href="#accordion-body-05" data-toggle="collapse" data-parent="#accordion"
                                       aria-expanded="false" aria-controls="accordion-body-05">
                                        How can I get notified when the website doesn’t work properly?
                                        <span class="u-accordion__control-icon g-color-primary">
                          <i class="fa fa-angle-down"></i>
                          <i class="fa fa-angle-up"></i>
                        </span>
                                    </a>
                                </h5>
                            </div>
                            <div id="accordion-body-05" class="collapse" role="tabpanel"
                                 aria-labelledby="accordion-heading-05" data-parent="#accordion">
                                <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                    You can get notified via email, SMS, Slack, or Twilio. It depends on what plan you will choose.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card g-brd-none rounded g-mb-20">
                            <div id="accordion-heading-06" class="u-accordion__header g-pa-0" role="tab">
                                <h5 class="mb-0">
                                    <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20"
                                       href="#accordion-body-06" data-toggle="collapse" data-parent="#accordion"
                                       aria-expanded="false" aria-controls="accordion-body-06">
                                        What is the difference between a free plan and a paid one?
                                        <span class="u-accordion__control-icon g-color-primary">
                          <i class="fa fa-angle-down"></i>
                          <i class="fa fa-angle-up"></i>
                        </span>
                                    </a>
                                </h5>
                            </div>
                            <div id="accordion-body-06" class="collapse" role="tabpanel"
                                 aria-labelledby="accordion-heading-06" data-parent="#accordion">
                                <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                    {{ BRAND_NAME }} offers three pricing plans: free, team, and business. In the free plan, you can get notifications only via email, you can use it only for one project, and the test item interval is 5 minutes.
                                    In the paid versions, you get notifications via SMS, Slack, Twilio, you can use it for more projects, the test item interval is 1 minute, and the history of site checks is kept for a longer period of time.
                                    See the Pricing Plan to learn more information.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
