{% extends "mails/base.html" %}
{% load i18n %}

{% block title %}
    {% translate 'Terms of Use' %}
{% endblock %}

{% block description %}
    {% translate 'Terms of Use' %}
{% endblock %}

{% block main %}

    <section class="g-py-100">
        <div class="container">
            <h1 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase g-pl-85 ">
                Terms of Use
            </h1>
            <pre>
            THIS IS AN AGREEMENT BETWEEN YOU OR THE ENTITY THAT YOU REPRESENT (HEREINAFTER "YOU" OR "YOUR") AND
            {{ COMPANY_NAME }} CORPORATION (HEREINAFTER "{{ COMPANY_NAME }}") GOVERNING YOUR USE OF SITE {{ BRAND_NAME|upper }}.COM SERVICE.

            Description of Service

            {{ COMPANY_NAME }} offers {{ BRAND_NAME }} Service as both free and paid service. The Service can monitor websites,
            applications, servers, network devices, etc. You agree to give permission to such resources, and if you are
            not an owner, you agree to obtain prior verifiable permission from the owners of such resources that are
            being monitored using the Service.

            Subscription to {{ BRAND_NAME }} Service

            You may subscribe to {{ BRAND_NAME }} Service by filling in the registration process at the {{ BRAND_NAME }} website.
            {{ BRAND_NAME }} has the right to modify or discontinue, at any time and from time to time, temporarily or
            permanently, the service (or any part thereof) with or without notice. You agree that {{ BRAND_NAME }} shall not be
            liable to you or to any third party for any harm related to, arising out of, or caused by the modification,
            suspension or discontinuance of the Service for any reason.

            In consideration of your use of the Service, you agree to: a) provide true, accurate, current and complete
            information about yourself as prompted by the Registration Process; and b) maintain and promptly update your
            Registration data to keep it true, accurate, current, and complete. If you provide any information that is
            not true, not accurate, outdated, or incomplete, or if {{ BRAND_NAME }} has reasonable grounds to suspect that such
            information is untrue, inaccurate, outdated, or incomplete, {{ BRAND_NAME }} has the right to close your Account
            and refuse current or future use the Service.

            Personal Information and Privacy

            Personal information you provide to {{ BRAND_NAME }} through the Service is governed by {{ BRAND_NAME }} Privacy Policy
            and applicable laws related to personal information. Your choice to use the Service indicates your
            acceptance of the terms of the {{ BRAND_NAME }} Site Privacy Policy. You are responsible for maintaining the
            confidentiality of your Account information and other sensitive information. You are responsible for all
            activities that occur in your Account and you agree to notify {{ BRAND_NAME }} immediately of any unauthorized
            Account use. {{ BRAND_NAME }} is in no way responsible for any loss or damage to you or to any third party incurred
            as a result of any unauthorized access and/or use of your Account, or otherwise.

            Publicity

            {{ BRAND_NAME }} retains the right to publish your name and logo in the customer list on our website, press
            releases, advertisements, brochures and other promotional materials. You should email {{ BRAND_NAME }} if you do
            not wish to permit {{ BRAND_NAME }} to publish your name in the manner mentioned above.

            Communications from {{ BRAND_NAME }}

            The Service may include certain communications from {{ BRAND_NAME }}, such as service announcements, administrative
            messages and newsletters. You understand that these communications shall be considered part of using the
            Services and that you will not be able to opt out of receiving them. Further, {{ BRAND_NAME }} retains the right to
            send electronic mail to you, informing you of changes or additions to the Terms of Service.

            Fees and Payments

            When you subscribe to {{ BRAND_NAME }} paid plan, you agree to pay for the {{ BRAND_NAME }} Service in accordance with
            {{ BRAND_NAME }}’s price schedule. You can pay for {{ BRAND_NAME }} service either by credit card, Paypal account or by
            raising a Purchase Order. Subscriptions made through credit card will automatically renew, unless you cancel
            your subscription. You agree to notify {{ BRAND_NAME }} of any changes to your credit card account number and/or
            its expiration date.

            Restrictions on use

            In addition to all other terms and conditions of this Agreement, you shall not: (i) transfer or otherwise
            make available to any third party the services; (ii) provide any service based on the services; (iii) use
            the third party links to sites without agreeing to their website terms and conditions; (iv) post any third
            party link sites including their logo, company name, etc. without their prior written permission; or (v)use
            the for illegal purposes.

            Accessing Third Party Applications Integrated with {{ BRAND_NAME }}
            Many third party applications (hereinafter "Third Party Application(s)") are integrated with {{ BRAND_NAME }}. You
            may also integrate any other Third Party Application with {{ BRAND_NAME }} by using the API if such Third Party
            Application allows such integration. Access and use of Third Party Applications may require acceptance of
            terms of service and privacy policy applicable to such Third Party Applications (hereinafter "Third Party
            Terms"). You are responsible for reading and understanding the Third Party Terms before accessing or using
            any Third Party Application.

            Administrator and Primary Contact
            You will be the default administrator of the {{ BRAND_NAME }} account created by you. If you join a {{ BRAND_NAME }}
            account based on an invitation received from someone, such person will be the default administrator. There
            must always be a primary contact (and only one primary contact) for a {{ BRAND_NAME }} account who should also be
            an administrator. By default, the first administrator is the primary contact. An administrator may designate
            any other administrator as the primary contact.

            Trademarks
            {{ BRAND_NAME }} site and {{ BRAND_NAME }} logo are trademarks of {{ BRAND_NAME }}. You agree not to display or use, in any
            manner, the {{ BRAND_NAME }} trademarks, without {{ BRAND_NAME }} prior permission.

            Disclaimer of Warranties
            YOU EXPRESSLY UNDERSTAND AND AGREE THAT THE USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED
            ON AN AS-IS-AND-AS-AVAILABLE BASIS. {{ BRAND_NAME|upper }} EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER
            EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
            PARTICULAR PURPOSE AND NON-INFRINGEMENT. {{ BRAND_NAME|upper }} MAKES NO WARRANTY THAT THE SERVICE WILL BE UNINTERRUPTED,
            TIMELY, SECURE, OR VIRUS FREE. USE OF THE SERVICE WILL BE AT YOUR OWN DISCRETION AND RISK AND YOU WILL BE
            SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM, MOBILE TELEPHONE, WIRELESS DEVICE OR DATA THAT
            RESULTS FROM THE USE OF THE SERVICES. NO ADVICE OR INFORMATION, WHETHER WRITTEN OR ORAL, OBTAINED BY YOU
            FROM {{ BRAND_NAME|upper }}, ITS EMPLOYEES OR REPRESENTATIVES SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THESE
            TERMS OF SERVICE.

            Limitation of Liability
            TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL {{ BRAND_NAME|upper }} BE LIABLE FOR ANY DIRECT,
            CONSEQUENTIAL, INCIDENTAL, INDIRECT, SPECIAL, PUNITIVE, OR OTHER LOSS OR DAMAGE WHATSOEVER OR FOR LOSS OF
            BUSINESS PROFITS, BUSINESS INTERRUPTION, COMPUTER FAILURE, LOSS OF BUSINESS INFORMATION, OR OTHER LOSS
            ARISING OUT OF OR CAUSED BY YOUR USE OF OR INABILITY TO USE THE SERVICE, EVEN IF {{ BRAND_NAME|upper }} HAS BEEN ADVISED
            OF THE POSSIBILITY OF SUCH DAMAGE. YOUR SOLE AND EXCLUSIVE REMEDY FOR ANY DISPUTE WITH {{ BRAND_NAME|upper }} RELATED TO
            THE SERVICE SHALL BE CANCELLATION OF THE SERVICE. The exclusion or limitation of liability for consequential
            or incidental damages may not apply to you if your state does not permit such exclusion or limitation of
            liability.

            Indemnification
            You agree to indemnify and hold harmless {{ BRAND_NAME }}, its officers, directors, employees, suppliers, and
            affiliates, from and against any losses, damages, fines and expenses (including attorney's fees and costs)
            arising out of or relating to any claims that you have used the Service in violation of another party's
            rights, in violation of any law, in violations of any provisions of these Terms of Service, or any other
            claim related to your use of the Service.

            Termination
            You agree that {{ BRAND_NAME }} may terminate your Account and access to the Service for reasons including, but not
            be limited to, breaches or violations of these Terms of Service or the {{ BRAND_NAME }} Privacy Policy, a request
            by you to terminate your Account, discontinuance or material modification to the Services, unexpected
            technical issues or problems, extended periods of inactivity and requests by law enforcement or other
            government agencies. Termination of your {{ BRAND_NAME }} Account includes termination of access to the Service,
            deletion of your Account information such as your e-mail ID and Password and deletion of data in your
            Account as permitted or required by law.

            Usage Limits for {{ BRAND_NAME }}
            {{ BRAND_NAME }} may prescribe usage limits based on the subscription plan chosen by You. You must make sure that
            Your usage is within the usage limits prescribed by {{ BRAND_NAME }} in order to avail uninterrupted service. You
            understand that {{ BRAND_NAME }} may restrict an activity if You reach the usage limit corresponding to such
            activity.

            Modification of Terms of Services
            {{ BRAND_NAME }} may modify these Terms of Service upon notice to you at any time. You will be provided notice of
            any such modification by electronic mail or by publishing the changes on the web page. In the event
            {{ BRAND_NAME }} modifies these Terms of Service, you may terminate your use of the Service. Your continued use of
            the Service after notice of any change to the Terms of Service will be deemed to be your agreement to the
            amended Terms of Service.

            TERMS FOR USE OF SITE {{ BRAND_NAME }} API
            Integration of {{ BRAND_NAME }} with Third Party Applications using APIs provided by {{ BRAND_NAME }} requires technical
            skill. You understand that errors or defects in the integration may cause loss and corruption of data. You
            must make sure that You use the services of technically skilled persons for the integration. You agree that
            {{ BRAND_NAME }} is not liable for any loss and corruption of data caused due to errors or defects in the
            integration.

            You must not try to access any functionality that is not exposed in the documentation for the API. You
            understand and agree that {{ BRAND_NAME }} will not be liable for the consequences of accessing or using any
            unexposed functionality of the API.

            API Deprecation
            {{ BRAND_NAME }}, in its discretion, may cease providing the current version of the API either as a result of
            discontinuation of the API or upgradation of the API to a newer version. In both cases, the current version
            of the API will stand deprecated and become the deprecated version of the API (hereinafter "Deprecated
            Version"). When {{ BRAND_NAME }} decides to deprecate the current version of the API, You will be informed about
            such deprecation through a service announcement. For a period of six months following announcement of
            deprecation (hereinafter the "Deprecation Period"), {{ BRAND_NAME }} will use commercially reasonable efforts to
            support the Deprecated Version. You understand that {{ BRAND_NAME }} is not obliged to provide the features of the
            newer version in the Deprecated Version.

            {{ BRAND_NAME }} in its discretion may cease supporting the Deprecated Version during the Deprecation Period if i)
            {{ BRAND_NAME }} is required to do so by law or ii) You have breached any provision of these Terms or the General
            Terms of Service or iii) {{ BRAND_NAME }} determines that supporting the API is likely to result in a security risk
            to {{ BRAND_NAME }}.

            API Usage Limits
            {{ BRAND_NAME }} may prescribe usage limits, including limits on the number of calls, number of records per call,
            bandwidth usage and frequency of calls. You are required to adhere to the usage limits prescribed by
            {{ BRAND_NAME }} in order to avail uninterrupted service. You understand that {{ BRAND_NAME }} may restrict an activity if
            You reach the usage limit corresponding to such activity and that an API call may either fail or be
            partially executed if the usage limits are reached before or during an API call.

            END OF TERMS OF SERVICE
            If you have any questions or concerns regarding this agreement, please contact us.

            Last Updated on: 20th August 2020.
            </pre>
        </div>
    </section>

{% endblock %}
