{% load i18n %}
<nav>
    <ul class="pagination paginator-js" data-current-page="{{ page.number }}" style="float: right;">

{#        <li class="page-item">#}
{#            {% blocktrans with current_page=page.number total_page=page.paginator.num_pages %}Page {{ current_page }} of#}
{#                {{ total_page }}{% endblocktrans %}#}
{#        </li>#}

        {% if page.has_previous %}
            <li class="page previous">
                <a href="?page={{ page.previous_page_number }}{{ GET_string }}"
                   class="page-link"
                   title="{% trans "More recent entries" %}">&laquo;</a>
            </li>
        {% endif %}

        {% for page_number in begin %}
            <li class="{% ifequal page.number page_number %} active{% endifequal %} page-item">
                {% ifequal page.number page_number %}
                    <a href="#" class="page-link">{{ page_number }}</a>
                {% else %}
                    <a href="?page={{ page_number }}{{ GET_string }}" class="page-link"
                       title="{% trans "Entries page" %} {{ page_number }}">{{ page_number }}</a>
                {% endifequal %}
            </li>
        {% endfor %}

        {% if middle %}
            <li class="page-item"><a href="#" class="page-link">&hellip;</a></li>
            {% for page_number in middle %}
                <li class="{% ifequal page.number page_number %} active{% endifequal %} page-item">
                    {% ifequal page.number page_number %}
                        <a href="#" class="page-link">{{ page_number }}</a>
                    {% else %}
                        <a href="?page={{ page_number }}{{ GET_string }}" class="page-link"
                           title="{% trans "Entries page" %} {{ page_number }}">{{ page_number }}</a>
                    {% endifequal %}
                </li>
            {% endfor %}
        {% endif %}

        {% if end %}
            <li class="page-item"><a href="#" class="page-link">&hellip;</a></li>
            {% for page_number in end %}
                <li class="{% ifequal page.number page_number %} active{% endifequal %} page-item">
                    {% ifequal page.number page_number %}
                        <a href="#" class="page-link">{{ page_number }}</a>
                    {% else %}
                        <a href="?page={{ page_number }}{{ GET_string }}" class="page-link"
                           title="{% trans "Entries page" %} {{ page_number }}">{{ page_number }}</a>
                    {% endifequal %}
                </li>
            {% endfor %}
        {% endif %}

        {% if page.has_next %}
            <li class="page-item">
                <a href="?page={{ page.next_page_number }}{{ GET_string }}" class="page-link"
                   title="{% trans "More old entries" %}">&raquo;</a>
            </li>
        {% endif %}
    </ul>
</nav>
