<label class="g-font-weight-500 g-font-size-15 g-pl-30"
       for="{{ field.id_for_label }}">
    {{ field.label }}{% if field.field.required %}*{% endif %}
</label>
<select class="{% if field.errors %}form-control-danger{% endif %} form-control form-control-md mr-sm-3 mb-3 mb-lg-0 js-custom-select g-width-300 u-select-v2 u-shadow-v19 g-brd-none g-color-black g-color-primary--hover g-bg-white text-left g-rounded-30 g-pl-30 g-py-12"
        data-placeholder="For"
        data-open-icon="fa fa-angle-down"
        data-close-icon="fa fa-angle-up"
        {% if field.field.required %}required{% endif %}
        id="{{ field.id_for_label }}"
        name="{{ field.name }}"
>{{ field.value|default_if_none:'' }}</select>
{% for error in field.errors %}
    <div class="form-control-feedback">{{ error }}</div>
{% endfor %}
