{% load crispy_forms_field %}

<div class="form-group row g-mb-25 {% if field.errors %}has-danger{% endif %}">
    <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-right g-mb-10"
           for="{{ field.id_for_label }}">
        {{ field.label }}{% if field.field.required %}*{% endif %}
    </label>
    <div class="col-sm-9">
        <div class="input-group g-brd-primary--focus">
            {% crispy_field field %}
            {% if extra_html %}
                {{ extra_html|safe }}
            {% endif %}
        </div>
        {% for error in field.errors %}
            <div class="form-control-feedback">{{ error }}</div>
        {% endfor %}
    </div>
</div>
