{% load crispy_forms_field %}

<div class="{{ wrapper_ccs_class }} {% if field.errors %}has-danger{% endif %}">
    <label class="g-color-gray-dark-v2 g-font-size-13" for="{{ field.id_for_label }}">
        {{ field.label }}{% if field.field.required %}*{% endif %}
    </label>
    {% crispy_field field %}
    {% for error in field.errors %}
        <div class="form-control-feedback">{{ error }}</div>
    {% endfor %}
</div>
