{% load crispy_forms_field %}

<!-- Toggles Checkbox -->
<div class="form-group {% if field.errors %}has-danger{% endif %}">
    <label class="d-flex align-items-center justify-content-between">
        <span>{{ field.label }}</span>
        <div class="u-check">
            {% crispy_field field %}
            <div class="u-check-icon-radio-v8">
                <i class="fa" data-check-icon=""></i>
            </div>
        </div>
    </label>
    {% for error in field.errors %}
        <div class="form-control-feedback">{{ error }}</div>
    {% endfor %}
</div>
<!-- End Toggles Checkbox -->