{% load i18n %}

<div class="col-md-12 form-group g-mb-40 {% if field.errors %}has-danger{% endif %}">
    <label class="g-color-gray-dark-v2 g-font-size-13"
           for="{{ field.id_for_label }}">
        {{ field.label }}{% if field.field.required %}*{% endif %}
    </label>
    <textarea
            class="form-control g-color-black g-bg-white g-bg-white--focus {% if field.errors %}form-control-danger{% else %}g-brd-gray-light-v4 g-brd-primary--hover{% endif %} rounded-3 g-py-13 g-px-15"
            rows="7"
            placeholder="{% translate 'Hi there, I would like to' %} ..."
            {% if field.field.required %}required{% endif %}
            id="{{ field.id_for_label }}"
            name="{{ field.name }}"
    >{{ field.value|default_if_none:'' }}</textarea>
    {% for error in field.errors %}
        <div class="form-control-feedback">{{ error }}</div>
    {% endfor %}
</div>
