{% load i18n %}

<!-- Footer -->
<footer class="bg-dark text-center text-lg-start text-secondary">
    <hr />
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-9 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Support {{ BRAND_NAME }}</h5>
                <p>
                    {% translate "Show us some love by recommending us to your favorite network or community!" %}
                    <br />
                    {% translate "We really appreciate it, thanks!" %}
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">{% translate "Useful Links" %}</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="{{ full_domain }}{% url 'accounts:privacy' %}" class="text-reset">
                            {% translate "Privacy Policy" %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ full_domain }}{% url 'accounts:cookies_policy' %}" class="text-reset">
                            {% translate "Cookies Policy" %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ full_domain }}{% url 'accounts:terms' %}" class="text-reset">
                            {% translate "Terms of Use" %}
                        </a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        {% now "Y" %} &copy; {% translate "All Rights Reserved." %}
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->