{% load static %}
{% load i18n %}
{% load active_link_tags %}
{% load mails_tags %}

<nav class="navbar navbar-dark">
    <div class="container"
    style="padding-top: 10px; padding-bottom: 10px;">
        <a class="navbar-brand" href="{{ full_domain }}{% url 'mails:index' %}">
            <amp-img src="{% static 'assets/pictures/logo/logo.webp' %}" alt="logo" height="36" width="168"
                 class="d-inline-block align-text-top"></amp-img>
        </a>

{#        <select class="selectpicker" data-width="fit" onchange="location = this.value;">#}
{#            {% for lang_code, land_display in LANGUAGES %}#}
{#                <option {% if lang_code in LANGUAGE_CODE %}selected="selected"{% endif %}#}
{#                        value="{{ full_domain }}/{{ lang_code }}/"#}
{#                        data-content='<span class="flag-icon flag-icon-{{ lang_code|get_country_code }}"></span> {{ land_display }}'>#}
{#                    {{ land_display }}#}
{#                </option>#}
{#            {% endfor %}#}
{#        </select>#}

    </div>
</nav>