{% load utils %}

<!-- LINE -->
<!-- Set line color -->
<tr>
    <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
			padding-top: 25px;" class="line">
        <hr
                color="#E0E0E0" align="center" width="100%" size="1" noshade
                style="margin: 0; padding: 0;"/>
    </td>
</tr>

<!-- LIST -->
<tr>
    <td align="center" valign="top"
        style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%;"
        class="list-item">
        <table align="center" border="0" cellspacing="0" cellpadding="0"
               style="width: inherit; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0;">

            <!-- LIST ITEM -->
            <tr>

                <!-- LIST ITEM IMAGE -->
                <!-- Image text color should be opposite to background color. Set your url, image src, alt and title. Alt text should fit the image size. Real image size should be x2 -->
                <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0;
					padding-top: 30px;
					padding-right: 20px;"><img
                        border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block;
					color: #000000;"
                        src="{% static_url domain %}emails/list-item.png"
                        alt="H" title="Highly compatible"
                        width="50" height="50"></td>

                <!-- LIST ITEM TEXT -->
                <!-- Set text color and font family ("sans-serif" or "Georgia, serif"). Duplicate all text styles in links, including line-height -->
                <td align="left" valign="top" style="font-size: 17px; font-weight: 400; line-height: 160%; border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;
					padding-top: 25px;
					color: #000000;
					font-family: sans-serif;" class="paragraph">
                    <b style="color: #333333;">Information is money</b><br/>
                    Thus, when you get informed about the problem, you can take action immediately.
                </td>

            </tr>

            <!-- LIST ITEM -->
            <tr>

                <!-- LIST ITEM IMAGE -->
                <!-- Image text color should be opposite to background color. Set your url, image src, alt and title. Alt text should fit the image size. Real image size should be x2 -->
                <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0;
					padding-top: 30px;
					padding-right: 20px;"><img
                        border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block;
					color: #000000;"
                        src="{% static_url domain %}emails/list-item.png"
                        alt="D" title="Designer friendly"
                        width="50" height="50"></td>

                <!-- LIST ITEM TEXT -->
                <!-- Set text color and font family ("sans-serif" or "Georgia, serif"). Duplicate all text styles in links, including line-height -->
                <td align="left" valign="top" style="font-size: 17px; font-weight: 400; line-height: 160%; border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;
					padding-top: 25px;
					color: #000000;
					font-family: sans-serif;" class="paragraph">
                    <b style="color: #333333;">{{ BRAND_NAME }} will do it for you</b><br/>
                    A timely alert will allow you to react to the problem quickly.
                </td>

            </tr>

        </table>
    </td>
</tr>

<!-- LINE -->
<!-- Set line color -->
<tr>
    <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
			padding-top: 25px;" class="line">
        <hr
                color="#E0E0E0" align="center" width="100%" size="1" noshade
                style="margin: 0; padding: 0;"/>
    </td>
</tr>
