{% load utils %}

<!-- WRAPPER -->
<!-- Set wrapper width (twice) -->
<table border="0" cellpadding="0" cellspacing="0" align="center"
       width="560" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: inherit;
	max-width: 560px;" class="wrapper">

    <!-- SOCIAL NETWORKS -->
    <!-- Image text color should be opposite to background color. Set your url, image src, alt and title. Alt text should fit the image size. Real image size should be x2 -->
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
			padding-top: 25px;" class="social-icons">
            <table
                    width="256" border="0" cellpadding="0" cellspacing="0" align="center"
                    style="border-collapse: collapse; border-spacing: 0; padding: 0;">
                <tr>

                    <!-- ICON 1 -->
                    <td align="center" valign="middle"
                        style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;">
                        <a target="_blank"
                           href="#"
                           style="text-decoration: none;"><img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
					color: #000000;"
                                                               alt="F" title="Facebook"
                                                               width="44" height="44"
                                                               src="{% static_url domain %}emails/facebook.png"></a>
                    </td>

                    <!-- ICON 2 -->
                    <td align="center" valign="middle"
                        style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;">
                        <a target="_blank"
                           href="#"
                           style="text-decoration: none;"><img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
					color: #000000;"
                                                               alt="T" title="Twitter"
                                                               width="44" height="44"
                                                               src="{% static_url domain %}emails/twitter.png"></a>
                    </td>

                    <!-- ICON 3 -->
                    <td align="center" valign="middle"
                        style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;">
                        <a target="_blank"
                           href="#"
                           style="text-decoration: none;"><img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
					color: #000000;"
                                                               alt="G" title="Google Plus"
                                                               width="44" height="44"
                                                               src="{% static_url domain %}emails/googleplus.png"></a>
                    </td>

                    <!-- ICON 4 -->
                    <td align="center" valign="middle"
                        style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;">
                        <a target="_blank"
                           href="#"
                           style="text-decoration: none;"><img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
					color: #000000;"
                                                               alt="I" title="Instagram"
                                                               width="44" height="44"
                                                               src="{% static_url domain %}emails/instagram.png"></a>
                    </td>

                </tr>
            </table>
        </td>
    </tr>

    <!-- FOOTER -->
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 13px; font-weight: 400; line-height: 150%;
			padding-top: 20px;
			padding-bottom: 20px;
			color: #999999;
			font-family: sans-serif;" class="footer">

            <p>Sent by
                <a href="{{ domain }}"
                   target="_blank"
                   style="text-decoration: underline; color: #999999; font-family: sans-serif; font-size: 13px; font-weight: 400; line-height: 150%;">
                    {{ BRAND_NAME }}
                </a>,
                {{ ADDRESS }}
            </p>
            <p>
                <a href="mailto:{{ CONTACT_EMAIL }}"
                   target="_blank"
                   style="text-decoration: underline; color: #999999; font-family: sans-serif; font-size: 13px; font-weight: 400; line-height: 150%;">
                    {{ CONTACT_EMAIL }}
                </a>
                <a href="#"
                   target="_blank"
                   style="text-decoration: underline; color: #999999; font-family: sans-serif; font-size: 13px; font-weight: 400; line-height: 150%;">
                    Unsubscribe
                </a>
            </p>

            {#            <!-- ANALYTICS -->#}
            {#            <img width="1" height="1" border="0" vspace="0" hspace="0"#}
            {#                 style="margin: 0; padding: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block;"#}
            {#                 src="https://raw.githubusercontent.com/konsav/email-templates/master/images/tracker.png"/>#}

        </td>
    </tr>

    <!-- End of WRAPPER -->
</table>
