<tr>
    <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 17px; font-weight: 400; line-height: 160%;
			padding-top: 20px;
			padding-bottom: 25px;
			color: #000000;
			font-family: sans-serif;" class="paragraph">
        Have a&nbsp;question? <a href="mailto:{{ contact_email|default:CONTACT_EMAIL }}" target="_blank"
                                 style="color: #127DB3; font-family: sans-serif; font-size: 17px; font-weight: 400; line-height: 160%;">
        {{ contact_email|default:CONTACT_EMAIL }}
    </a>
    </td>
</tr>
