{% extends "mails/base.html" %}
{% load i18n %}
{% load humanize %}
{% load compress %}

{% load static %}

{% block title %}
    {% translate "Get Your Temporary Email Today" %} ({% now "Y" %})
{% endblock %}

{% block main %}

    <section class="bg-dark pd-top-0">
        <div class="container text-center col-sm-12 col-md-8 col-lg-6">
            <h1 class="text-white text-center">{% translate "Temporary Email Service" %}</h1>

            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-12 col-lg-10">
                    <div class="input-group pd-top-0" style="max-width: 600px; margin-left: auto; margin-right: auto;">
                        <input type="text"
                               id="email-js"
                               class="form-control"
                               readonly
                               placeholder="{% translate "Loading your temporary email address" %}..."
                               aria-label="{% translate "Loading your temporary email address" %}..."
                               value=""
                        >
                        <button class="btn btn-outline-success" data-toggle="modal" data-target="#qr-code-modal" type="button">
                            QR {% translate "code" %}
                        </button>
                        <button class="btn btn-outline-success" data-clipboard-target="#email-js" type="button">
                            {% translate "Copy" %}
                        </button>
                    </div>
                </div>
            </div>

            <div class="text-secondary pd-top-0 pd-bt-0" style="max-width: 730px; margin-left: auto; margin-right: auto;">
                {% blocktranslate %}Looking for a 24 temp email solution? Consider using a disposable or temporary email address.
                These types of email addresses allow you to protect your personal information and avoid spam while still
                being able to receive important messages. A disposable email address can be used for online registration,
                subscription, or to keep your primary email address private. With a temporary email address, you can enjoy
                the convenience of receiving emails without the risk of receiving spam or unwanted messages.
                So, if you want to protect your personal information and reduce the risk of spam,
                consider using a 24 temp email or disposable/temporary email address.{% endblocktranslate %}
            </div>
        </div>
    </section>

    <section class="shadow mb-5 bg-body rounded">
        <div class="container text-center pd-top-0 pd-bt-0" style="padding-left: 0; padding-right: 0;">
            <button type="button" class="btn btn-success btn-lg" data-clipboard-target="#email-js"><i class="fa fa-copy"></i> {% translate "Copy" %}</button>
            <a href="/" class="btn btn-success btn-lg"><i class="fa fa-refresh"></i> {% translate "Refresh" %}</a>
            <a href="{% url 'mails:email-delete' %}" class="btn btn-success btn-lg"><i class="fa fa-remove"></i> {% translate "Delete" %}</a>
        </div>
    </section>

    <section>
        <div class="container col-lg-8 col-sx-12 col-sm-12">
            <div class="card">
                {% block inbox %}
                    <div class="card-header bg-dark text-white text-center">
                        {% translate "Inbox" %}
                    </div>

                    <div class="card-body">
                        <ul class="list-group list-group-flush mails-list-js">

                        </ul>
                    </div>
                {% endblock inbox %}
            </div>

            <div class="text-dark pd-top-0 pd-bt-0">
                <h2>{% translate "How to use it" %}?</h2>
                {% blocktranslate %}
                    {{ BRAND_NAME }} is a disposable email address service. When you visit {{ BRAND_NAME }} a new email
                    address is generated just for you. The generated email address can immediately receive any emails.
                    Any email that is received will show up on the main page immediately. No one other than you will see the emails
                    that are received. It is important to note that an email address expires after 24 hours. When an email
                    address has expired, the email address and any received emails will be gone. A new email address will
                    be generated upon visiting this website. There are many reasons for using a disposable email.
                    You may want to give someone an email address without revealing your identity. Or you may want to
                    sign up for a website or web service but you are concerned that the website will send you spam in the future. <br />
                    For using this service you MUST enable cookie and javascript, cookie is just to record your session id
                    and language preference, your Privacy is covered under our Privacy and Cookie policy.
                {% endblocktranslate %}
            </div>
        </div>
    </section>

    <section>
        <div class="container col-lg-8 col-sx-12 col-sm-12">
            <div class="text-dark pd-top-0 pd-bt-0">
                <h2>{% translate "Popular Articles" %}</h2>

                <div class="list-group">
                    {% for entry in entries %}
                        <a href="{% url 'blog:entry_detail' entry.slug %}" class="list-group-item list-group-item-action"
                           aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ entry.title }}</h5>
                                <small>
                                    Read more...
                                </small>
                            </div>
{#                            <p class="mb-1">Some placeholder content in a paragraph.</p>#}
{#                            <small>#}
{#                            </small>#}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {% include 'mails/parts/modal-qr.html' %}

{% endblock main %}
