{% extends "mails/index.html" %}

{% load i18n %}

{% block inbox %}
    <script type="text/javascript">
        function addTargetBlank(iframe) {
            {# Prevent openning <a> in the iframe. Open in the new tab #}
            var as = iframe.contentDocument.getElementsByTagName('a');
            for (i = 0; i < as.length; i++) {
                as[i].setAttribute('target', '_blank');
            }
        }
    </script>

    <div class="card-header bg-dark text-white" id="email-content">
        <div class="d-none d-sm-block">
            <div class="row">
                <div class="col-4">
                    <a href="/" class="text-white text-decoration-none">
                        <i class="fa fa-arrow-left g-font-size-default g-mr-5"></i>
                        {% translate "Back to list" %}
                    </a>
                </div>
                <div class="col-4 text-center">
                    {% translate "From" %}: {{ object.from_email }}
                </div>
                <div class="col-4 text-end">
                    {% translate "Date" %}: {{ object.created }}
                </div>
            </div>
        </div>
        <div class="d-sm-none">
            <div class="row">
                <div class="col-sm-12">
                    <a href="/" class="text-white text-decoration-none">
                        <i class="fa fa-arrow-left g-font-size-default g-mr-5"></i>
                        {% translate "Back to list" %}
                    </a>
                </div>
                <div class="col-sm-12">
                    {% translate "From" %}: {{ object.from_email }}
                </div>
                <div class="col-sm-12">
                    {% translate "Date" %}: {{ object.created }}
                </div>
            </div>
        </div>
    </div>

    <div class="card-body"
         {% if request.GET.format == 'json' %}
            style="height: 400px;"
         {% elif request.GET.format == 'raw' %}
            style="min-height: 500px;"
         {% else %}
            style="height: 1000px;"
         {% endif %}
    >

    <div style="margin-bottom: 20px;">
        <strong>{% translate "Subject" %}:</strong> {{ object.subject }}
    </div>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {% if 'format' not in request.GET %}active{% endif %}"
                   {% if 'format' not in request.GET %}aria-current="page"{% endif %}
                   href="{% url 'mails:mail-detail' object.hash %}#email-content">
                    {% translate "Email" %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.GET.format == 'raw' %}active{% endif %}"
               {% if request.GET.format == 'raw' %}aria-current="page"{% endif %}
                href="{% url 'mails:mail-detail' object.hash %}?format=raw#email-content">
                    {% translate "Raw Content" %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.GET.format == 'json' %}active{% endif %}"
                {% if request.GET.format == 'json' %}aria-current="page"{% endif %}
                href="{% url 'mails:mail-detail' object.hash %}?format=json#email-content">JSON</a>
            </li>
        </ul>

{#  TODO find nice place to show subject  #}
{#        <div>Subject: {{ object.subject }}</div>#}

        {% if 'format' not in request.GET %}

        <iframe srcdoc="<!DOCTYPE html>{{ object.body }}"
                frameborder="0"
                style="overflow:hidden;height:100%;width:100%"
                height="100%"
                width="100%" onload="addTargetBlank(this)"></iframe>

        {% elif request.GET.format == 'raw' %}
            <br/>
            <button type="button"
                    class="btn btn-success"
                    id="raw-content-copy-js"
                    data-clipboard-target="#raw-content">
                <i class="fa fa-copy"></i> {% translate "Copy" %}</button>

            <br/>
            <br/>
            <div id="raw-content">{{ object.raw_content|linebreaks }}</div>

        {% elif request.GET.format == 'json' %}
            <br/>
            <button type="button" class="btn btn-success"
                    data-clipboard-target="#json-content"
                    id="json-content-copy-js">
                <i class="fa fa-copy"></i> {% translate "Copy" %}
            </button>
            <br/>
            <br/>
            <pre id="json-content">{{ json_display }}</pre>

        {% endif %}

    </div>

{% endblock inbox %}
