{% extends 'mails/base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block main %}
    <!-- Login -->
    <section class="container g-pt-100 g-pb-20">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5 flex-md-unordered g-mb-80">
                <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
                    <header class="text-center mb-4">
                        <h1 class="h3 g-color-black g-font-weight-300 text-capitalize">
                            {% trans "Social Network Login Failure" %}
                        </h1>
                    </header>
                    <!-- Form -->
                    <h5 class="g-color-black g-font-weight-600 text-center mb-5">
                        {% trans "An error occurred while attempting to login via your social network account." %}
                    </h5>
                    <p class="g-color-gray-dark-v5 mb-0">
                        {{ auth_error }}
                    </p>
                </div>

                <div class="text-center">
                    <p class="g-color-gray-dark-v5 mb-0">
                        Don't have an account? <a class="g-font-weight-600"
                                                  href="{% url 'accounts:django_registration_register' %}">signup</a>
                    </p>
                </div>

            </div>
        </div>
    </section>
    <!-- End Login -->
{% endblock main %}
