{% extends 'mails/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock title %}

{% block main %}

    <!-- Login -->
    <section class="container g-pt-100 g-pb-20">
        <div class="row justify-content-between">
            <div class="col-md-6 col-lg-5 flex-md-unordered g-mb-80">
                <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
                    <header class="text-center mb-4">
                        <h1 class="h3 g-color-black g-font-weight-300 text-capitalize">Reset Password</h1>
                    </header>
                    <!-- Form -->
                    <h5 class="g-color-black g-font-weight-600 text-center mb-5">Reset password link will be sent on
                        your email.</h5>
                    <form class="g-py-15" method="post" action="{% url 'password_reset' %}">
                        {% csrf_token %}
                        {% for e in form.non_field_errors %}
                            <div class="alert alert-danger fz14 p-2">{{ e|safe }}</div>
                        {% endfor %}
                        <div class="mb-4 {% if form.email.errors %}has-danger{% endif %}">
                            <div class="input-group g-brd-primary--focus">
                                <input class="form-control g-color-black g-brd-gray-light-v3 g-py-15 g-px-15"
                                       type="email" name="email" placeholder="Email Address">
                            </div>
                            {% for error in form.email.errors %}
                                <div class="form-control-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="mb-5">
                            <button class="btn btn-block u-btn-primary g-py-13" type="submit">Send</button>
                        </div>

                    </form>
                    <!-- End Form -->
                </div>

                <div class="text-center">
                    <p class="g-color-gray-dark-v5 mb-0">
                        Don't have an account? <a class="g-font-weight-600"
                                                  href="{% url 'accounts:django_registration_register' %}">signup</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Login -->
{% endblock main %}
