{#{% extends "mails/base.html" %}#}
{##}
{#{% load widget_tweaks %}#}
{##}
{#{% block title %}{{ title }}{% endblock %}#}
{#{% block main %}#}
{##}
{##}
{##}
{#    <section id="password-reset" class="section gray-bg">#}
{#        <div class="container">#}
{#            <!-- section title -->#}
{##}
{#            {% if validlink %}#}
{##}
{#                <form method="post">#}
{#                    {% csrf_token %}#}
{##}
{#                    {% for error in form.non_field_errors %}#}
{#                        <div class="form-group row">#}
{#                            <div class="ml-md-auto col-md-9">#}
{#                                <div class="form-error-detail">{{ error }}</div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{##}
{#                    <div class="form-group row">#}
{#                        <div class="ml-md-auto col-md-9">#}
{#                            <p class="dark-color">Please enter your new password twice so we can verify you typed it in#}
{#                                correctly.</p>#}
{#                            <label class="g-color-gray-dark-v2 g-font-size-13">New password:</label>#}
{#                            {{ form.new_password1|add_class:"form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15"|add_error_class:'is-invalid' }}#}
{#                        </div>#}
{#                    </div>#}
{##}
{##}
{#                    <div class="form-group row">#}
{#                        <div class="ml-md-auto col-md-9">#}
{#                            <label class="g-color-gray-dark-v2 g-font-size-13">Confirm password:</label>#}
{#                            {{ form.new_password2|add_class:"form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15"|add_error_class:'is-invalid' }}#}
{#                        </div>#}
{#                    </div>#}
{##}
{##}
{#                    <div class="form-group row">#}
{#                        <div class="ml-md-auto col-md-9">#}
{#                            <button type="submit" class="btn btn-primary">Change my password<i#}
{#                                    class="fa fa-check"></i></button>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </form>#}
{##}
{#            {% else %}#}
{#                <div class="row justify-content-center m-45px-b sm-m-25px-b">#}
{#                    <div class="col-lg-8">#}
{#                        <div class="section-title text-center">#}
{##}
{#                            <p class="dark-color">The password reset link was invalid, possibly because it has already#}
{#                                been used. Please#}
{#                                request a new password#}
{#                                reset.</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            {% endif %}#}
{##}
{##}
{#        </div>#}
{#    </section>#}
{##}
{##}
{#{% endblock %}#}
