{% extends "mails/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% translate 'All you need to know about temporary mail' %}{% endblock title %}

{% block main %}

    <!-- Accordion -->
    <section class="g-bg-gray-gradient-opacity-v1">
        <div class="container g-py-50">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <!-- Heading -->
                    <div class="text-center g-mb-60">
                        <h2 class="g-color-black g-font-weight-600 mb-2">{% translate 'Frequently Asked Questions' %}</h2>
                        <p class="lead g-width-60x--md mx-auto">
                            {% translate 'We aim high at being focused on keeping you safe on the internet.' %}
                        </p>
                    </div>
                    <!-- End Heading -->

                    <div id="accordion" class="u-accordion u-accordion-color-primary" role="tablist"
                         aria-multiselectable="true">
                        <!-- Card -->
                        <div class="card g-brd-none rounded g-mb-20">
                            <div id="accordion-heading-01" class="g-pa-0" role="tab">
                                <h5 class="mb-0">
                                    <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20"
                                       href="#accordion-body-01" data-toggle="collapse" data-parent="#accordion"
                                       aria-expanded="false" aria-controls="accordion-body-01">
                                        {% translate 'Why do I need temporary mail?' %}
                                        <span class="u-accordion__control-icon g-color-primary">
                          <i class="fa fa-angle-down"></i>
                          <i class="fa fa-angle-up"></i>
                        </span>
                                    </a>
                                </h5>
                            </div>
                            <div id="accordion-body-01" class="collapse" role="tabpanel"
                                 aria-labelledby="accordion-heading-01" data-parent="#accordion">
                                <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                    {% blocktranslate %}
                                        Many apps and websites obligate you to give personal email address for no reason
                                        other than to collect personal information about you.
                                        Temporary email address allows you to separate your personal email address
                                        you use for banking, credit card purchases and other personal identifying
                                        transactions from all the other sites out there.
                                    {% endblocktranslate %}
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card g-brd-none rounded g-mb-20">
                            <div id="accordion-heading-02" class="g-pa-0" role="tab">
                                <h5 class="mb-0">
                                    <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20"
                                       href="#accordion-body-02" data-toggle="collapse" data-parent="#accordion"
                                       aria-expanded="false" aria-controls="accordion-body-02">
                                        {% translate 'How to send email?' %}
                                        <span class="u-accordion__control-icon g-color-primary">
                          <i class="fa fa-angle-down"></i>
                          <i class="fa fa-angle-up"></i>
                        </span>
                                    </a>
                                </h5>
                            </div>
                            <div id="accordion-body-02" class="collapse" role="tabpanel"
                                 aria-labelledby="accordion-heading-02" data-parent="#accordion">
                                <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                    {% blocktranslate %}
                                        Sending email is completely disabled and
                                        it will never be implemented due to fraud and spam issues.
                                    {% endblocktranslate %}
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card g-brd-none rounded g-mb-20">
                            <div id="accordion-heading-03" class="g-pa-0" role="tab">
                                <h5 class="mb-0">
                                    <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20"
                                       href="#accordion-body-03" data-toggle="collapse" data-parent="#accordion"
                                       aria-expanded="false" aria-controls="accordion-body-03">
                                        {% translate 'How do I extend the lifetime of the email address?' %}
                                        <span class="u-accordion__control-icon g-color-primary">
                          <i class="fa fa-angle-down"></i>
                          <i class="fa fa-angle-up"></i>
                        </span>
                                    </a>
                                </h5>
                            </div>
                            <div id="accordion-body-03" class="collapse" role="tabpanel"
                                 aria-labelledby="accordion-heading-03" data-parent="#accordion">
                                <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                    {% blocktranslate %}
                                        Email address is valid until you delete it or until the service will delete it.
                                        The lifetime depends on many different factors.
                                        You can have temporary emails with lifetime up to 1 YEAR with registered
                                        account.
                                    {% endblocktranslate %}
                                    <a href="{% url 'accounts:django_registration_register' %}">{% translate 'Sign up for free!' %}</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card g-brd-none rounded g-mb-20">
                            <div id="accordion-heading-04" class="g-pa-0" role="tab">
                                <h5 class="mb-0">
                                    <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20"
                                       href="#accordion-body-04" data-toggle="collapse" data-parent="#accordion"
                                       aria-expanded="false" aria-controls="accordion-body-04">
                                        {% translate 'How to delete disposable email and get the new one?' %}
                                        <span class="u-accordion__control-icon g-color-primary">
                          <i class="fa fa-angle-down"></i>
                          <i class="fa fa-angle-up"></i>
                        </span>
                                    </a>
                                </h5>
                            </div>
                            <div id="accordion-body-04" class="collapse" role="tabpanel"
                                 aria-labelledby="accordion-heading-04" data-parent="#accordion">
                                <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                    {% blocktranslate %}
                                        Click "Delete" on the home page and you will get new temporary email.
                                    {% endblocktranslate %}
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                        <!-- Card -->
                        <div class="card g-brd-none rounded g-mb-20">
                            <div id="accordion-heading-05" class="g-pa-0" role="tab">
                                <h5 class="mb-0">
                                    <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20"
                                       href="#accordion-body-05" data-toggle="collapse" data-parent="#accordion"
                                       aria-expanded="false" aria-controls="accordion-body-05">
                                        {% translate 'How to check received emails?' %}
                                        <span class="u-accordion__control-icon g-color-primary">
                          <i class="fa fa-angle-down"></i>
                          <i class="fa fa-angle-up"></i>
                        </span>
                                    </a>
                                </h5>
                            </div>
                            <div id="accordion-body-05" class="collapse" role="tabpanel"
                                 aria-labelledby="accordion-heading-05" data-parent="#accordion">
                                <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                    {% blocktranslate %}
                                        They are displayed under your disposable email.
                                        If you did not get incoming emails for too long - click "Refresh" button.
                                    {% endblocktranslate %}
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card g-brd-none rounded g-mb-20">
                            <div id="accordion-heading-06" class="g-pa-0" role="tab">
                                <h5 class="mb-0">
                                    <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20"
                                       href="#accordion-body-06" data-toggle="collapse" data-parent="#accordion"
                                       aria-expanded="false" aria-controls="accordion-body-06">
                                        {% translate 'How do I share temporary email?' %}
                                        <span class="u-accordion__control-icon g-color-primary">
                          <i class="fa fa-angle-down"></i>
                          <i class="fa fa-angle-up"></i>
                        </span>
                                    </a>
                                </h5>
                            </div>
                            <div id="accordion-body-06" class="collapse" role="tabpanel"
                                 aria-labelledby="accordion-heading-06" data-parent="#accordion">
                                <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                    {% blocktranslate %}
                                        You can share it by using QR code on main page.
                                    {% endblocktranslate %}
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Accordion -->

{% endblock main %}
