{% extends "mails/base.html" %}
{% load static %}

{% block title %}Features{% endblock title %}

{% block main %}

    <!-- Promo Block -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall "
             data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
        <!-- Parallax Image -->
        <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after"
             style="height: 140%; background-image: url({% static 'assets/img/features/img3.jpg' %});"></div>
        <!-- End Parallax Image -->

        <!-- Promo Block Content -->
        <div class="container g-color-white text-center g-py-120">
            <h1 class="h1 g-font-weight-600 text-uppercase mb-2">About us</h1>
            <p class="g-font-weight-300 g-font-size-22 text-uppercase">{{ BRAND_NAME }} is a professional and fully responsible team</p>
        </div>
        <!-- Promo Block Content -->
    </section>
    <!-- End Promo Block -->

    <!-- Heading -->
    <section class="container u-ns-bg-v1-bottom g-bg-white g-py-100">
        <div class="text-center">
            <h2 class="h5 g-line-height-1_8">
                {{ BRAND_NAME }} platform is designed to monitor the status of the websites. <br />
                It includes such features:
            </h2>
        </div>
    </section>
    <!-- End Heading -->

    <!-- Icon Blocks -->
    <section class="g-bg-gray-light-v5 g-pt-80 g-pb-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 g-mb-30">
                    <!-- Icon Blocks -->
                    <div class="text-center">
          <span class="d-block g-color-primary g-font-size-35 g-mb-5">
            <i class="icon-education-087 u-line-icon-pro"></i>
          </span>
                        <h3 class="h5 g-color-black text-uppercase mb-3">Website’s availability</h3>
                        <p class="g-color-gray-dark-v4">
                            {{ BRAND_NAME }} platform runs frequent tests to check your website’s availability; in case of any problem,
                            we send you an alert immediately via email, SMS, Slack, or Twilio depending on the chosen plan.
                        </p>
                    </div>
                    <!-- End Icon Blocks -->
                </div>

                <div class="col-lg-4 g-mb-30">
                    <!-- Icon Blocks -->
                    <div class="text-center">
          <span class="d-block g-color-primary g-font-size-35 g-mb-5">
            <i class="icon-education-035 u-line-icon-pro"></i>
          </span>
                        <h3 class="h5 g-color-black text-uppercase mb-3">Server availability</h3>
                        <p class="g-color-gray-dark-v4">
                            Similar to the website’s availability, we check server availability and send you an alert in case of any problem.
                        </p>
                    </div>
                    <!-- End Icon Blocks -->
                </div>

                <div class="col-lg-4 g-mb-30">
                    <!-- Icon Blocks -->
                    <div class="text-center">
          <span class="d-block g-color-primary g-font-size-35 g-mb-5">
            <i class="icon-education-141 u-line-icon-pro"></i>
          </span>
                        <h3 class="h5 g-color-black text-uppercase mb-3">Validity check of website’s SSL certificate and HTML validation</h3>
                        <p class="g-color-gray-dark-v4">
                            Two weeks before the expiry date of the certificate, we send a notification to the team (notification level - warning).
                            If the certificate is already expired, we send a notification with the level - critical.
                            It helps to update the certificate in time.
                        </p>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Icon Blocks -->

    <section class="container g-pt-100 g-pb-70">
        <div class="row justify-content-center g-mb-20">
            <div class="col-lg-7">
                <!-- Heading -->
                <div class="text-center">
                    <h2 class="h3 g-color-black text-uppercase mb-2">Get critical notifications instantly</h2>
                    <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                </div>
                <!-- End Heading -->
            </div>
        </div>

        <div class="row">
            <div class="mb-5">
                <p>
                    If the notification level is not critical, you will get the message during the working hours.
                    If it is critical, we will send you a message right after the problem is spotted.
                </p>
                <p>
                    There are three plans: free, team, and business. <br />
                    When you subscribe to a free plan, you will get notifications only via email.
                    In the paid plans, you’ll get notifications via SMS and Slack. It is also possible to send a notification via your Twilio account (the SMS notification service).
                    In the paid versions, the history of website checks is kept for a longer period of time.<br/><br/>
                    While using {{ BRAND_NAME }} platform, you’ll get the reports about:
                    <ul>
                        <li>website response time</li>
                        <li>period of time, from which the website is not available</li>
                        <li>frequency of website failures (correlation of total time to the resource availability)</li>
                    </ul>
                </p>
            </div>
            <a class="btn btn-md u-btn-primary g-font-size-default rounded-0 g-py-10"
               href="{% url 'accounts:django_registration_register' %}">
                Start Now
            </a>
        </div>
    </section>

    <!-- Testimonials -->
    <section class="g-bg-gray-light-v5 g-py-50">
        <div class="container">
            <div class="row justify-content-center g-mb-20">
                <div class="col-lg-7">
                    <!-- Heading -->
                    <div class="text-center">
                        <h2 class="h3 g-color-black text-uppercase mb-2">What people say about {{ BRAND_NAME }}?</h2>
                        <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                    </div>
                    <!-- End Heading -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 g-mb-30">
                    <!-- Testimonials -->
                    <div class="media g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover g-bg-white g-rounded-4 g-transition-0_3 g-pa-20">
                        <div class="d-flex mr-4">
                            <img class="g-width-70 g-height-70 rounded-circle"
                                 src="{% static 'assets/img/features/david.png' %}" alt="David Smith">
                        </div>
                        <div class="media-body">
                            <blockquote class="lead g-mb-15">
                                I first tried a free version of {{ BRAND_NAME }}, and I liked it a lot. Now I am using a business
                                plan, and it meets all my criteria.
                            </blockquote>
                            <h4 class="h6 g-font-weight-700 g-mb-0">David Smith</h4>
                        </div>
                    </div>
                    <!-- End Testimonials -->
                </div>

                <div class="col-lg-6 g-mb-30">
                    <!-- Testimonials -->
                    <div class="media g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover g-bg-white g-rounded-4 g-transition-0_3 g-pa-20">
                        <div class="d-flex mr-4">
                            <img class="g-width-70 g-height-70 rounded-circle"
                                 src="{% static 'assets/img/features/anna.png' %}" alt="Anna Pretty">
                        </div>
                        <div class="media-body">
                            <blockquote class="lead g-mb-15">
                                With {{ BRAND_NAME }} I can be on vacation and truly relax. Don’t have to check every 5 minutes
                                if my website works or not.
                            </blockquote>
                            <h4 class="h6 g-font-weight-700 g-mb-0">Anna Pretty</h4>
                        </div>
                    </div>
                    <!-- End Testimonials -->
                </div>

                <div class="col-lg-6 g-mb-30">
                    <!-- Testimonials -->
                    <div class="media g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover g-bg-white g-rounded-4 g-transition-0_3 g-pa-20">
                        <div class="d-flex mr-4">
                            <img class="g-width-70 g-height-70 rounded-circle"
                                 src="{% static 'assets/img/features/danilla.png' %}" alt="Danilla Ut">
                        </div>
                        <div class="media-body">
                            <blockquote class="lead g-mb-15">
                                Very good! I use a team plan, and I am very satisfied with how it works.
                            </blockquote>
                            <h4 class="h6 g-font-weight-700 g-mb-0">Danilla Ut.</h4>
                        </div>
                    </div>
                    <!-- End Testimonials -->
                </div>

                <div class="col-lg-6 g-mb-30">
                    <!-- Testimonials -->
                    <div class="media g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover g-bg-white g-rounded-4 g-transition-0_3 g-pa-20">
                        <div class="d-flex mr-4">
                            <img class="g-width-70 g-height-70 rounded-circle"
                                 src="{% static 'assets/img/features/alex.png' %}" alt="Alex Pottorf">
                        </div>
                        <div class="media-body">
                            <blockquote class="lead g-mb-15">
                                Decided to try out {{ BRAND_NAME }} for my online store and never regretted it. It’s perfect for me!
                            </blockquote>
                            <h4 class="h6 g-font-weight-700 g-mb-0">Alex Pottorf</h4>
                        </div>
                    </div>
                    <!-- End Testimonials -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonials -->

{#    {% include 'mails/parts/clients.html' %}#}

{% endblock main %}
