{% extends 'mails/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load compress %}

{% block title %}{% translate 'Feedback' %}{% endblock title %}

{% block main %}

    <div class="g-py-100">
        <div class="row justify-content-center">
            <div class="col-lg-6" {% if form.errors %}id="scroll-to-me-js"{% endif %}>
                <h3 class="g-color-black g-font-weight-600 text-center mb-5">{% translate 'Who are you, and how can we help?' %}</h3>
                <form method="post" action="{% url 'accounts:feedback' %}"
                      class="g-brd-gray-light-v4 g-pa-30 g-mb-30">
                    {{ form.recommend_rating|as_crispy_field }}
                    {{ form.use_rating|as_crispy_field }}
                    {% csrf_token %}
                    <!-- Stars -->
                    <div class="form-group d-flex align-items-center justify-content-between mb-0"
                         id="{{ form.use_rating.auto_id }}-js">
                        <label class="mb-0">{% translate "How easy was this to use?" %}</label>
                        <ul class="js-rating u-rating-v1 g-font-size-17 g-color-gray-light-v3 mb-0"
                            data-hover-classes="g-color-primary">
                            <li class="g-color-primary click">
                                <i class="fa fa-star"></i>
                            </li>
                            <li class="g-color-primary click">
                                <i class="fa fa-star"></i>
                            </li>
                            <li class="g-color-primary click">
                                <i class="fa fa-star"></i>
                            </li>
                            <li class="g-color-primary click">
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between mb-0"
                         id="{{ form.recommend_rating.auto_id }}-js">
                        <label class="mb-0">{% translate "Would you recommend our service?" %}</label>
                        <ul class="js-rating u-rating-v1 g-font-size-17 g-color-gray-light-v3 mb-0"
                            data-hover-classes="g-color-primary">
                            <li class="g-color-primary click">
                                <i class="fa fa-star"></i>
                            </li>
                            <li class="g-color-primary click">
                                <i class="fa fa-star"></i>
                            </li>
                            <li class="g-color-primary click">
                                <i class="fa fa-star"></i>
                            </li>
                            <li class="g-color-primary click">
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                    </div>
                    <!-- End Stars -->
                    {{ form.improve|as_crispy_field }}
                    <div class='text-center'>
                        <button type="submit"
                                class="btn u-btn-primary g-font-weight-600 g-font-size-13 text-uppercase g-rounded-25 g-py-15 g-px-30"
                        >
                            {% translate 'Send Feedback' %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}

{% block extra_js %}
    {% compress js %}
    <!-- JS Unify -->
    <script src="{% static 'assets/js/helpers/hs.rating.js' %}"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // initialization of forms
        $.HSCore.helpers.HSRating.init();

        const recommend_rating_id = "{{ form.recommend_rating.auto_id }}";
        const use_rating_id = "{{ form.use_rating.auto_id }}";

        $('form').submit(function () {

          let recommend_rating = $(`#${recommend_rating_id}-js li.click`).length;
          let use_rating = $(`#${use_rating_id}-js li.click`).length;

          $(`#${recommend_rating_id}`).val(recommend_rating);
          $(`#${use_rating_id}`).val(use_rating);

        });
      });
    </script>
    {% endcompress %}
{% endblock extra_js %}