{% extends 'mails/base.html' %}

{% load i18n %}

{% block title %}{% translate 'Email Activation Completed' %}{% endblock title %}

{% block main %}
    <div class="container g-py-100">
        <div class="row justify-content-center">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
                    <p>
                        {% translate 'Thanks for signing up!' %}
                    </p>
                    <div id="disclose-this">
                        <p class="">
                            {% translate 'Now you can login into your account and start using service.' %}
                        </p>
                        <p>
                            <a href="{% url 'login' %}">
                                {% translate 'Login' %}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
