{#{% extends 'mails/emails/base.html' %}#}
{% load i18n %}

{% block title %}{{ BRAND_NAME }} - Sign Up{% endblock title %}

{% block header %}Thanks for signing up!{% endblock header %}

{% block content %}
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 17px; font-weight: 400; line-height: 160%;
			padding-top: 25px;
			color: #000000;
			font-family: sans-serif;" class="paragraph">
            {% blocktranslate %}
            Thanks for signing up!
            Your account has been created, you can login after you have activated your account by pressing the url
            below.
            {% endblocktranslate %}
            <br>
            <br>
            {% blocktranslate %}
                Please click this link to activate your account:
            {% endblocktranslate %}
        </td>
    </tr>
    {% include 'mails/emails/parts/button.html' with button_text="Activate" button_href=activation_link %}
{% endblock content %}
