{% extends 'mails/base.html' %}

{% load i18n %}

{% block title %}{% translate 'Registration Complete' %}{% endblock title %}

{% block main %}
    <div class="container g-py-100">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
                    <p>{{ activation_error.message }}</p>
                    <p>Error Code: {{ activation_error.code }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
