{% extends 'mails/base.html' %}
{% load i18n %}

{#{% load utils %}#}

{% block title %}{% translate 'Registration Complete' %}{% endblock title %}

{% block main %}

    <div class="container g-py-100">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
                    <p>
                        {% translate "Check your email." %}
                    </p>
                    <p>
{#                        We’ve sent a message to {% decode_get_parameter request.session.email %} with a link to activate your account.#}
                    </p>
                    <label class="">{% translate 'Didn’t get an email?' %}</label>
                    <div id="disclose-this">
                        <p class="">
                            {% blocktranslate %}
                            If you don’t see an email from us within a few minutes, a few
                            things could have happened:
                            {% endblocktranslate %}
                        </p>
                        <ul class="">
                            <li>
                                {% translate "The email is in your spam folder. (Sometimes things get lost in there.)" %}
                            </li>
                            <li>
                                {% translate "The email address you entered had a mistake or typo. (Happens to the best of us.)" %}
                            </li>
                            <li>
                                {% blocktranslate %}
                                You accidentally gave us another email address. (Usually a work or personal one
                                instead of the one you meant.)
                                {% endblocktranslate %}
                            </li>
                            <li>
                                {% blocktranslate %}
                                We can’t deliver the email to this address. (Usually because of corporate firewalls
                                or filtering.)
                                {% endblocktranslate %}
                            </li>
                        </ul>
                        <p>
                            <a href="{% url 'accounts:activation_resend_custom' %}">
                                {% translate "Re-send activation email" %}
                            </a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock main %}
