{% extends 'mails/base.html' %}

{% load static %}
{% load socialaccount %}
{% load i18n %}

{% block title %}{% translate "Sign up" %}{% endblock title %}

{% block main %}


    <!-- Login -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall"
             data-options="{direction: 'reverse', settings_mode_oneelement_max_offset: '150'}">
        <!-- Parallax Image -->
        <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-size-cover g-bg-bluegray-opacity-0_3--after"
             style="height: 140%; background-image: url({% static 'assets/img/img2.webp' %});"></div>
        <!-- End Parallax Image -->

        <div class="container g-pt-100 g-pb-20">
            <div class="row justify-content-between">
                <div class="col-md-6 col-lg-5 flex-md-unordered align-self-center g-mb-80">
                    <div class="u-shadow-v21 g-bg-white rounded g-pa-35">
                        <header class="text-center mb-4">
                            <h1 class="h2 g-color-black g-font-weight-600">{% translate 'Signup' %}</h1>
                        </header>

                        <!-- Form -->
                        <form class="g-py-15" method="post" action="{% url 'accounts:django_registration_register' %}">
                            {% csrf_token %}

                            {% for e in form.non_field_errors %}
                                <div class="alert alert-danger fz14 p-2">{{ e|safe }}</div>
                            {% endfor %}

                            <div class="mb-4 {% if form.email.errors %}has-danger{% endif %}">
                                <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 {% if form.email.errors %}is-invalid{% endif %}"
                                       type="email" name="email" placeholder="{% translate 'Email' %}"
                                       value="{{ form.data.email|default_if_none:'' }}" required>
                                {% for error in form.email.errors %}
                                    <div class="form-control-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="mb-4 {% if form.password1.errors %}has-danger{% endif %}">
                                <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 {% if form.password1.errors %}is-invalid{% endif %}"
                                       type="password" placeholder="{% translate 'Password' %}" name="password1" autocomplete="off"
                                       required>
                                {% for error in form.password1.errors %}
                                    <div class="form-control-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="g-mb-30 {% if form.password2.errors %}has-danger{% endif %}">
                                <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 {% if form.password2.errors %}is-invalid{% endif %}"
                                       type="password" placeholder="{% translate 'Confirm password' %}" name="password2"
                                       autocomplete="off" required>
                                {% for error in form.password2.errors %}
                                    <div class="form-control-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="mb-1">
                                <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-13 g-pl-25 mb-2">
                                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" required
                                           name="terms" checked>
                                    <span class="d-block u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                                        <i class="fa" data-check-icon="&#xf00c"></i>
                                    </span>
                                    {% translate 'I accept the' %} <a href="{% url 'accounts:terms' %}">{% translate 'Terms and Conditions' %}</a>
                                </label>
                            </div>

{#                            <div class="text-center mb-5">#}
                            <div class="text-center">
                                <button class="btn btn-block u-btn-primary rounded g-py-13" type="submit">{% translate 'Signup' %}
                                </button>
                            </div>

{#                            <div class="d-flex justify-content-center text-center g-mb-30">#}
{#                                <div class="d-inline-block align-self-center g-width-50 g-height-1 g-bg-gray-light-v1"></div>#}
{#                                <span class="align-self-center g-color-gray-dark-v5 mx-4">OR</span>#}
{#                                <div class="d-inline-block align-self-center g-width-50 g-height-1 g-bg-gray-light-v1"></div>#}
{#                            </div>#}
{##}
{#                            <div class="row no-gutters g-mb-40">#}
{#                                <div class="col-6">#}
{#                                    <a class="btn btn-block u-btn-google-plus rounded g-px-30 g-py-11 mr-1"#}
{#                                       href="{% provider_login_url "google" %}">#}
{#                                        Google#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="col-6">#}
{#                                    <a class="btn btn-block u-btn-facebook rounded g-px-30 g-py-11 ml-1"#}
{#                                       href="{% provider_login_url "facebook" %}">#}
{#                                        Facebook#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div>#}
                        </form>
                        <!-- End Form -->

                        <footer class="text-center">
                            <p class="g-color-gray-dark-v5 mb-0">
                                {% translate 'Already have an account?' %} <a class="g-font-weight-600" href="{% url 'login' %}">{% translate 'Log In' %}</a>
                            </p>
                        </footer>
                    </div>
                </div>

                <div class="col-md-6 flex-md-first align-self-center g-mb-80">
                    <div class="">
                        <h2 class="h3 g-color-white g-font-weight-600 mb-3">
                            {% blocktranslate %}
                                Why do I need {{ BRAND_NAME}} account?
                            {% endblocktranslate %}
                        </h2>
                    </div>

                    <div class="row">
                        <div class="col-md-11 col-lg-9">
                            <!-- Icon Blocks -->
                            <div class="media">
                                <div class="d-flex mr-4">
                                    <span class="align-self-center u-icon-v1 u-icon-size--lg g-color-primary">
                                      <i class="icon-hotel-restaurant-009 u-line-icon-pro"></i>
                                    </span>
                                </div>
                                <div class="media-body align-self-center">
                                    <p class="g-color-white mb-0">
                                        {% blocktranslate %}
                                            100% Private mailboxes with full ownership!
                                        {% endblocktranslate %}
                                    </p>
                                </div>
                            </div>
                            <!-- End Icon Blocks -->

                            <!-- Icon Blocks -->
                            <div class="media">
                                <div class="d-flex mr-4">
                                    <span class="align-self-center u-icon-v1 u-icon-size--lg g-color-primary">
                                      <i class="icon-communication-005 u-line-icon-pro"></i>
                                    </span>
                                </div>
                                <div class="media-body align-self-center">
                                    <p class="g-color-white mb-0">
                                        {% blocktranslate %}
                                            Generate fake email with one click
                                        {% endblocktranslate %}
                                    </p>
                                </div>
                            </div>
                            <!-- End Icon Blocks -->

                            <!-- Icon Blocks -->
                            <div class="media">
                                <div class="d-flex mr-4">
                                    <span class="align-self-center u-icon-v1 u-icon-size--lg g-color-primary">
                                      <i class="icon-communication-012 u-line-icon-pro"></i>
                                    </span>
                                </div>
                                <div class="media-body align-self-center">
                                    <p class="g-color-white mb-0">
                                        {% blocktranslate %}
                                            Hide yourself from spam with enhanced privacy and security
                                        {% endblocktranslate %}
                                    </p>
                                </div>
                            </div>
                            <!-- End Icon Blocks -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Login -->
{% endblock main %}
