/* ======== icon-hs/style.css ======== */

.hs-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hs-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hs-icon-arrow-top:before {
  content: "\e903";
}
.hs-icon-close:before {
  content: "\e904";
}